tempFlow.flow
[{"id":"cec120ea.86c5b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52d6f93.95a8b08","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ba25cce3.d9a7","type":"tab","label":"Timezone","disabled":false,"info":""},{"id":"6a6549d2.86dd98","type":"tab","label":"Sunrise & Sunset Functionality","disabled":false,"info":""},{"id":"a24593f.c3bdd7","type":"tab","label":"Controller Shutdown","disabled":false,"info":""},{"id":"eab47669.c37d78","type":"tab","label":"Sensor/Zone management","disabled":false,"info":""},{"id":"cf0f304a.566c3","type":"tab","label":"Manual Light Control","disabled":false,"info":""},{"id":"646767f9.3bbd98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38df5fe9.28cae","type":"ui_tab","name":"Light Control Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"1633297.1bf58d7","type":"json-db-collection","name":"userParameters","collection":"userParameters","save":true},{"id":"a667bcb5.6b4ab","type":"json-db-collection","name":"","collection":"DLIdb","save":true},{"id":"64496ead.7156c","type":"json-db-collection","name":"Configuration DB","collection":"Configurationdb","save":true},{"id":"69ed7814.2db008","type":"json-db-collection","name":"","collection":"cyclicData","save":true},{"id":"9e5900a3.4e0d","type":"amazon config","name":"AWS","region":"us-east-1","proxyRequired":false,"proxy":""},{"id":"39a61b2.fc66ce4","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"9","bin":"bin","out":"count","addchar":"","responsetimeout":"500"},{"id":"d3911739.39f288","type":"rc-credentials","clientid":"A7uuBCn1QRS0ajnMKcMriQ","clientsecret":"AVEDNHv_QF20TP0kI9NCEgBpy2EcnFRWuvXnLhPEQT0w","username":"19292562093","password":"Mortgage256","extension":"101","name":"Tom"},{"id":"4c635665.c3e348","type":"ui_group","name":"Manual Zone Setup","tab":"4ff855d.b68fdac","order":1,"disp":true,"width":"6","collapse":false},{"id":"b75de9ca.f424c8","type":"ui_group","name":"API elements","tab":"9721fa4.9e80608","order":1,"disp":true,"width":"12","collapse":true},{"id":"9721fa4.9e80608","type":"ui_tab","name":"ALC Data Update","icon":"dashboard","disabled":false,"hidden":false},{"id":"52c272c.6d1968c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4ff855d.b68fdac","type":"ui_tab","name":"Global UI configuration","icon":"dashboard","disabled":false,"hidden":false},{"id":"dd8c727e.a07db","type":"ui_group","name":"Dashboard Configuration","tab":"4ff855d.b68fdac","order":1,"disp":true,"width":"6","collapse":false},{"id":"89a6235f.60be5","type":"serial-port","serialport":"/dev/ttyACM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"9","bin":"bin","out":"count","addchar":"","responsetimeout":"500"},{"id":"1fdf0343.9ab62d","type":"serial-port","serialport":"/dev/ttyACM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"9","bin":"bin","out":"count","addchar":"","responsetimeout":"500"},{"id":"87949b1c.2702a8","type":"serial-port","serialport":"/dev/ttyACM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"9","bin":"bin","out":"count","addchar":"","responsetimeout":"500"},{"id":"7c76cd74.d161f4","type":"ui_group","name":"Time","tab":"a7e8e4f2.1e1f68","order":1,"disp":true,"width":"6","collapse":false},{"id":"a7e8e4f2.1e1f68","type":"ui_tab","name":"Settings","icon":"settings"},{"id":"208b71f1.d44abe","type":"ui_group","name":"Time","tab":"dff37072.358fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"dff37072.358fc","type":"ui_tab","name":"Settings","icon":"settings"},{"id":"dc0abec6.28797","type":"json-db-collection","z":"cec120ea.86c5b","name":"Test","collection":"test","save":true},{"id":"968533e1.be609","type":"json-db-collection","z":"cec120ea.86c5b","name":"Test","collection":"test","save":true},{"id":"15e5010f.69a84f","type":"ui_group","name":"Controller Shutdown","tab":"4ff855d.b68fdac","order":2,"disp":true,"width":"6","collapse":false},{"id":"af3b5899.c83be8","type":"ui_group","name":"Default","tab":"76e7897a.01d298","order":2,"disp":false,"width":"6","collapse":false},{"id":"76e7897a.01d298","type":"ui_tab","name":"Global Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"34ec03bd.96427c","type":"ui_group","name":"Timezone","tab":"4ff855d.b68fdac","order":3,"disp":true,"width":"6","collapse":true},{"id":"9cf886ae.018ab8","type":"ui_group","name":"Text input","tab":"a714ca33.b48138","order":1,"disp":true,"width":"6"},{"id":"a714ca33.b48138","type":"ui_tab","name":"Angular UI templates","icon":"dashboard"},{"id":"7be4278d.6219d8","type":"ui_group","name":"Text input","tab":"de4bb4c4.ff65d8","order":1,"disp":true,"width":"6"},{"id":"de4bb4c4.ff65d8","type":"ui_tab","name":"Angular UI templates","icon":"dashboard"},{"id":"2766a90b.c9f636","type":"ui_group","name":"test1","tab":"be9ee329.debcf","order":1,"disp":true,"width":"6","collapse":false},{"id":"be9ee329.debcf","type":"ui_tab","name":"test1","icon":"dashboard","disabled":false,"hidden":false},{"id":"a3986de3.d80a5","type":"ui_group","name":"Manual Light Control","tab":"4ff855d.b68fdac","order":5,"disp":true,"width":"6","collapse":false},{"id":"8e642f8a.48ab6","type":"uibuilder","z":"52d6f93.95a8b08","name":"bootstrapjs","topic":"","url":"black-dash","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"x":2170,"y":380,"wires":[[],["cecd3659.22f678","7af2a454.6ee3dc"]]},{"id":"b501b1b7.693","type":"exec","z":"52d6f93.95a8b08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"rtPPFD","x":580,"y":260,"wires":[["e00afce6.6e9ee"],["9e1ac3ee.e073d"],[]]},{"id":"24d704ec.f8429c","type":"change","z":"52d6f93.95a8b08","name":"Initialize","rules":[{"t":"set","p":"dashboardClients","pt":"flow","to":"[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":40,"wires":[[]]},{"id":"2ee3a77f.3bd1d8","type":"function","z":"52d6f93.95a8b08","name":"Calculate Suplemental Light level","func":"\nvar numZones = global.get(\"Zones\");\n\nvar time_diff;\nvar time_sm;\nvarremaining_photoperiod_sec;\nvar sensor_ppfd;\nvar light_cntrl;\nvar current_time_sec;\nvar ZoneId = msg.ZoneId;\nvar timestamp = new Array(numZones);\nvar lightLevelPercent = new Array(numZones);\nvar ppfdTarget = new Array(numZones);\nvar cumulativeSunDLI = new Array(numZones);\nvar cumulativeLEDDLI = new Array(numZones);\nvar sensorPPFD = new Array(numZones);\nvar threshold_ppfd;\n/***. Get global vars. ***/\n\n\n\nvar photoperiod_off = msg.userParams.Greenhouse.Zone[ZoneId].photoperiod_off*60;\nvar photoperiod_on = msg.userParams.Greenhouse.Zone[ZoneId].photoperiod_on*60;\n\nif(msg.SunRiseTrackingEnabled) {\n    photoperiod_on = msg.sunRise_sm;\n}\n\nif(msg.SunSetTrackingEnabled) {\n    photoperiod_off = msg.sunSet_sm;\n}\n\n\nNight_Interruption_on = msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_on*60;\nNight_Interruption_off = msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_off*60;\n\nglobal.set(\"DLI_target\"+ZoneId.toString(),msg.userParams.Greenhouse.Zone[ZoneId].DLI_target);\nvar d = new Date();\ntime_sm = d.setHours(0, 0, 0, 0); // time since midnight in msec\ncurrent_time_sec = (msg.time - time_sm) / 1000;\ntime_diff = current_time_sec - msg.periodData.previous_time_for_last_calculation;\nmsg.time_diff = time_diff;\n\nif (time_diff <= 0) {\n        msg.periodData.previous_time_for_last_calculation = current_time_sec; \n}\n\nif (msg.time && !msg.manualLightControlEnabled) {\n    if (time_diff > 0) {\n\n        msg.topic = 'realtime_result';\n        sensor_ppfd =msg.ppfd.toFixed(2)\n        msg.sensor_ppfd = sensor_ppfd;\n        var ppfd_td = sensor_ppfd * time_diff ; //total ppfd for time period -> time_diff\n        msg.ppfd_td = ppfd_td;\n        msg.time_diff = time_diff;\n        if (!isNaN(ppfd_td)) {\n            msg.periodData.cumulative_dli_from_the_sun += ppfd_td\n        } else {\n            msg.periodData.cumulative_dli_from_the_sun = 100.0;  // check this *****\n        }\n        msg.periodData.previous_time_for_last_calculation = current_time_sec; \n\n        // calculate dynamic Photoperiod and PPFD Target (the dynamic ppfd target is recalculated every second)\t\t\n        remaining_photoperiod_sec = photoperiod_off - current_time_sec;\n        ppfd_target = (msg.userParams.Greenhouse.Zone[ZoneId].DLI_target * 1000000.0 - msg.periodData.cumulative_dli_from_the_sun - msg.periodData.cumulative_dli_from_the_leds) / remaining_photoperiod_sec;\n\n\n        if (msg.userParams.Greenhouse.Zone[ZoneId].Threshold_Control_on_off) {\n            threshold_ppfd = msg.userParams.Greenhouse.Zone[ZoneId].Threshold_Control\n            if (ppfd_target > threshold_ppfd) {\n                ppfd_target = threshold_ppfd;\n            }\n        }\n        //If Target PPFD > Threshold PPFD, then Target PPFD = Threshold PPFD\n\n        // calculate Light Drive setting\n        msg.ppfd_target = ppfd_target;\n        msg.remaining_photoperiod_sec = remaining_photoperiod_sec;\n        msg.dli_lvl_cum = msg.periodData.cumulative_dli_from_the_sun;\n\n        light_cntrl = ((ppfd_target - sensor_ppfd) / msg.userParams.Greenhouse.Zone[ZoneId].Canopy_light_level) * 255.0;\n        msg.i2c_out = parseInt(light_cntrl)*16;\n        if (sensor_ppfd >= ppfd_target) { // enough sunlight\n            light_cntrl = 0.0;\n            msg.i2c_out = 0;\n        }\n        if (light_cntrl > 255.0){ // beyond max\n            light_cntrl = 255.0;\n            msg.i2c_out = 4095;\n        }\n        // determine whether turn-on time is active\n   if (!((current_time_sec >= photoperiod_on) && (current_time_sec < photoperiod_off))) {\n            light_cntrl = 0.0;\n            msg.i2c_out = 0.0;\n        }\n\n\n        // determine whether today's DLI target has been met\n        if (msg.userParams.Greenhouse.Zone[ZoneId].Photoperiod_Extend_on_off) {\n            if (msg.periodData.cumulative_dli_from_the_sun + msg.periodData.cumulative_dli_from_the_leds > (msg.userParams.Greenhouse.Zone[ZoneId].DLI_target * 1000000.0)) {\n                light_cntrl = 0.0;\n                msg.i2c_out = 0;\n            if (remaining_photoperiod_sec > 0 && sensor_ppfd < 0 ) {\n                    light_cntrl = (msg.userParams.Greenhouse.Zone[ZoneId].LED_level_after_target/100) * 255.0;\n                    msg.i2c_out = parseInt(light_cntrl)*16;\n                    //photoperiod requirement - 15% low level light for remainder of photoperiod TODO\n     }\n      }\n        }\n        \n        if (msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_on_off) {\n            // determine whether Night Interuption turn-on time is active\n            if((current_time_sec >= Night_Interruption_on) && (current_time_sec < Night_Interruption_off)) {\n        \t    \tlight_cntrl = (msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_level/100) * 255.0;\n        \t    \tmsg.i2c_out = parseInt(light_cntrl)*16\n            }\t\t\n   }\n\n        \n        \n        // output for Osram HL300 lights\n        if (false) { // add a global var per zone for this. TRUE = Osram HL300\n            if (light_cntrl >= 60) {\n                msg.light_level = light_cntrl;\n                msg.setOutput = msg.dimmerVoltageString+(msg.light_level);\n                msg.blueChannel = Math.round(parseFloat(light_cntrl * 0.57));\n                msg.allChannel = Math.round(parseFloat(light_cntrl * 1.0));\n                led_dli_lvl = (light_cntrl / 255.0) * msg.userParams.Greenhouse.Zone[ZoneId].Canopy_light_level * time_diff;\n                msg.periodData.cumulative_dli_from_the_leds = msg.periodData.cumulative_dli_from_the_leds + led_dli_lvl\n                msg.led_dli_cum = msg.periodData.cumulative_dli_from_the_leds;\n            } else {\n                msg.light_level = 0;\n                light_cntrl = 0;\n         msg.blueChannel = 0;\n                msg.allChannel = 0;\n                led_dli_lvl = 0;\n                msg.periodData.cumulative_dli_from_the_leds = msg.periodData.cumulative_dli_from_the_leds + led_dli_lvl\n                msg.led_dli_cum = msg.periodData.cumulative_dli_from_the_leds;\n         }\n        //} else {\n        } // comment this out for the osram section to work.\n            msg.light_level = (light_cntrl/255)*100;\n       msg.setOutput = msg.dimmerVoltageString+(msg.light_level); // Sets AIO output2 0-10v value\n            led_dli_lvl =(light_cntrl / 255.0) * msg.userParams.Greenhouse.Zone[ZoneId].Canopy_light_level * time_diff;\n            msg.periodData.cumulative_dli_from_the_leds = msg.periodData.cumulative_dli_from_the_leds + led_dli_lvl\n            msg.led_dli_cum = msg.periodData.cumulative_dli_from_the_leds;\n// }\n            msg.periodData.light_ctrl =light_cntrl\n\n            var i = msg.ZoneId;\n            global.set(\"timestamp[\"+i+\"]\", msg.time);\n            global.set(\"lightLevelPercent[\"+i+\"]\",msg.light_level);\n            global.set(\"ppfdTarget[\"+i+\"]\",ppfd_target);\n            global.set(\"cumulativeSunDLI[\"+i+\"]\", msg.periodData.cumulative_dli_from_the_sun);\n            global.set(\"cumulativeLEDDLI[\"+i+\"]\", msg.periodData.cumulative_dli_from_the_leds);\n            global.set(\"sensorPPFD[\"+i+\"]\", msg.sensor_ppfd);\n            \n    }\n}            \n\nreturn msg;","outputs":1,"noerr":0,"x":2994,"y":300,"wires":[["46568ec0.2dc5c","a4baa32e.617fe","97552ee5.ba39b","5f767b7.4adbd84","2dfccc72.081954","453572c1.f1240c","f4d8fa79.614148"]]},{"id":"4573249f.49910c","type":"inject","z":"52d6f93.95a8b08","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"true","payloadType":"bool","x":90,"y":39,"wires":[["24d704ec.f8429c"]]},{"id":"6fdd0409.2b875c","type":"exec","z":"52d6f93.95a8b08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Set Analog Output","x":3444,"y":214,"wires":[[],[],[]]},{"id":"ce57d3ca.25745","type":"switch","z":"52d6f93.95a8b08","name":"Message Controller","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"client connect","vt":"str"},{"t":"eq","v":"ready for dashboard content","vt":"str"},{"t":"cont","v":"manual send","vt":"str"},{"t":"else"},{"t":"eq","v":"stop dashboard content","vt":"str"},{"t":"eq","v":"client disconnect","vt":"str"},{"t":"eq","v":"send daily DLI","vt":"str"},{"t":"eq","v":"send notifications","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":170,"y":694,"wires":[["6e1098dd.ce28c8"],["271971d7.6d2e1e","2121ecf9.5d9424"],["bd944eaf.3c86c"],[],["e7eb37d2.b72b18"],[],["9f7afa07.caa178"],["4bc3ebe6.acbd84"]]},{"id":"e02ba483.621bb8","type":"function","z":"52d6f93.95a8b08","name":"send buffer","func":"// Expects input msgs with topic set\n\n// saved context\nvar handleError = (err, msg) => {\n   node.error(err);\n        console.log(err);\n        console.log(msg.payload);\n      };\n\n    node.log(msg.hasOwnProperty('cacheControl')+\" \"+msg.hasOwnProperty('uibuilderCtrl'));\n// Replay cache if requested\nif ( (msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'REPLAY') && (msg.hasOwnProperty('uibuilderCtrl') && msg.uibuilderCtrl === 'ready for dashboard content') ) {\n        msg.status = \"# of data points \"+msg.payload.length;\n       // Only send to a single client if we can\n    try {    \n        if ( msg.hasOwnProperty('_socketId') )\n            node.send({\n \"topic\": 'cache_data', \n                \"payload\": msg.payload,\n                //\"payload\": 100,\n                \"_socketId\": msg._socketId\n       })\n        else\n            node.send({\n                \"topic\": 'cache_data', \n                \"payload\": msg.payload\n   //\"payload\": 200,\n\n            })\n    } catch(e) {\n            handleError(e, msg);\n    } finally {\n\n        \n    }        \n    return null;\n} else {\nreturn null;\n}\n\n// ignore cacheControl and uibuilder control messages\n//if ( msg.hasOwnProperty('cacheControl') || msg.hasOwnProperty('uibuilderCtrl') ) return null\n\n\n//return msg;","outputs":1,"noerr":0,"x":1170,"y":380,"wires":[["8e642f8a.48ab6"]]},{"id":"29e025a.c2261da","type":"link in","z":"52d6f93.95a8b08","name":"dashboard-replay","links":["cecd3659.22f678"],"x":20,"y":694,"wires":[["ce57d3ca.25745"]]},{"id":"cecd3659.22f678","type":"link out","z":"52d6f93.95a8b08","name":"dashboard-controls","links":["29e025a.c2261da"],"x":2335,"y":386,"wires":[]},{"id":"271971d7.6d2e1e","type":"ring-buffer","z":"52d6f93.95a8b08","name":"time,ppfd data points","capacity":"4096","order":"old-to-new","sendOnlyIfFull":false,"pushAfterClear":false,"extra":true,"perTopic":false,"x":960,"y":380,"wires":[["e02ba483.621bb8"]]},{"id":"ffed842c.7380f8","type":"function","z":"52d6f93.95a8b08","name":"extract buffer data","func":"\n\nif ( msg.hasOwnProperty('cacheControl') && msg.cacheControl === 'REPLAY' ) {\n    msg.topic = 'control';\n    return msg;\n} else {\nvar numZones = global.get(\"Zones\");\n    var rand = Math.random();\n    var index = Math.floor(rand*(numZones+6))\n    msg.index = index;\n    msg.random = rand;\n    if (index == msg.ZoneId) {\n        data_point = [msg.time,msg.ppfd,msg.light_level,msg.ZoneId]\n        msg.dli_lvl_cum = null;\n msg.payload = data_point;\n        msg.topic = 'control';\n        return msg;\n}\n}\n","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["271971d7.6d2e1e","b53b78bf.012a38"]]},{"id":"e9b01262.9f67a","type":"debug","z":"52d6f93.95a8b08","name":"Error Check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3024,"y":54,"wires":[]},{"id":"984b351c.950548","type":"DataIn","z":"52d6f93.95a8b08","collection":"1633297.1bf58d7","name":"","update":true,"path":"/","x":650,"y":734,"wires":[]},{"id":"985873d3.ae807","type":"DataOut","z":"cec120ea.86c5b","collection":"64496ead.7156c","name":"Hardware Config","path":"/","error":false,"x":350,"y":360,"wires":[["6168886e.76af88"]]},{"id":"4e91f49d.b6d2fc","type":"DataIn","z":"cec120ea.86c5b","collection":"64496ead.7156c","name":"Configure Hardware","update":false,"path":"/AIO_modules","x":1500,"y":460,"wires":[]},{"id":"a478c2e5.bde4f","type":"debug","z":"cec120ea.86c5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":752,"y":399,"wires":[]},{"id":"bd944eaf.3c86c","type":"switch","z":"52d6f93.95a8b08","name":"Save changed parameter","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"user parameter changed","vt":"str"},{"t":"cont","v":"RS485 message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":734,"wires":[["984b351c.950548"],["4a27fb60.1587d4","73d96ddd.cedbe4"]]},{"id":"46568ec0.2dc5c","type":"link out","z":"52d6f93.95a8b08","name":"ppfd capture","links":["1b4817c1.fa0c28"],"x":3301,"y":332,"wires":[]},{"id":"1b4817c1.fa0c28","type":"link in","z":"52d6f93.95a8b08","name":"ppfd buffer","links":["46568ec0.2dc5c"],"x":575,"y":380,"wires":[["ffed842c.7380f8"]]},{"id":"2121ecf9.5d9424","type":"delay","z":"52d6f93.95a8b08","name":"Send buffer first","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":687,"wires":[["d452905f.3602e"]]},{"id":"daf62bc1.64a558","type":"inject","z":"cec120ea.86c5b","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":113,"y":473,"wires":[["7d1c1b01.48a4b4"]]},{"id":"d452905f.3602e","type":"function","z":"52d6f93.95a8b08","name":"","func":"var dbClients = flow.get(\"dashboardClients\");\n\ndbClients.push(msg._socketId);\nflow.set(\"dashboardClients\",dbClients);\n\n","outputs":1,"noerr":0,"x":569,"y":687,"wires":[[]]},{"id":"e7eb37d2.b72b18","type":"function","z":"52d6f93.95a8b08","name":"","func":"var dbClients = flow.get(\"dashboardClients\");\n\n\nflow.set(\"dashboardClients\",dbClients);\nfor( var i = 0; i < dbClients.length; i++){ \n   if ( dbClients[i] === msg._socketId) {\n     dbClients.splice(i, 1); \n   }\n}\n\nflow.set(\"dashboardClients\",dbClients);","outputs":1,"noerr":0,"x":370,"y":774,"wires":[[]]},{"id":"a4baa32e.617fe","type":"function","z":"52d6f93.95a8b08","name":"","func":"var dbClients = flow.get(\"dashboardClients\");\n\n//saved context\nvar handleError = (err, msg) => {\n        node.error(err);\n        console.log(err);\n      };\n\n// Send data to each client using dashboard \ndbClients.forEach(socketId => {\n    msg._socketId = socketId;\n    try {    \n        node.send(msg)\n    } catch(e) {\n        handleError(e, msg);\n    } finally {\n        \n    }        \n    return null;\n});","outputs":1,"noerr":0,"x":2610,"y":380,"wires":[["8e642f8a.48ab6"]]},{"id":"540b682f.61af38","type":"DataOut","z":"52d6f93.95a8b08","collection":"a667bcb5.6b4ab","name":"","path":"/","error":false,"x":490,"y":840,"wires":[["f809b45a.b1b5b8"]]},{"id":"73460d08.7c3684","type":"link out","z":"52d6f93.95a8b08","name":"UI Data","links":["5405b0e7.3d873"],"x":1415,"y":840,"wires":[]},{"id":"5405b0e7.3d873","type":"link in","z":"52d6f93.95a8b08","name":"UI Funnel","links":["73460d08.7c3684","3caffc0f.bf0da4","b7356790.ebf618","ce7c8638.d718f8"],"x":1995,"y":380,"wires":[["8e642f8a.48ab6"]]},{"id":"a97b351c.c7bb58","type":"function","z":"52d6f93.95a8b08","name":"data_for_DLI_graph","func":"\n// Expects input msgs with topic set\n\n// saved context\nvar handleError = (err, msg) => {\n        node.error(err);\n        console.log(err);\nconsole.log(msg.payload);\n      };\n\n  \nvar numZones = global.get(\"Zones\");\nvar energy_cost = flow.get(\"energy_cost\");\nvar energyZones = flow.get(\"energyZones\");\nvar dailyDLI = flow.get(\"dailyDLI\")\nvar zone = {}, dailyData = [];\nvar label = [];\nvar sun_dli = [];\nvar led_dli = [];\nvar DLI_target = [];\n\nfor( var j = 0; j < numZones; j++){ \n    \n    for( var i = 0; i < dailyDLI.length; i++){\n        if (dailyDLI[i].ZoneId == j) {\n     d = new Date(dailyDLI[i].time);\n        label.push((d.getMonth()+1) +\"/\"+d.getDate()+\"/\"+d.getFullYear());\n        led_dli.push(dailyDLI[i].LED_DLI.toFixed(2)/1000000);\n        sun_dli.push(dailyDLI[i].SunDLI.toFixed(2)/1000000);\n        DLI_target.push(dailyDLI[i].DLI_target);\n        }\n  }\n  \n  \n  zone.id = JSON.parse(JSON.stringify(j));\n  zone.energy_cost = JSON.parse(JSON.stringify(energy_cost));\n  zone.number_of_lights = JSON.parse(JSON.stringify(energyZones[j].number_of_lights));\n  zone.photoperiod_on = JSON.parse(JSON.stringify(energyZones[j].photoperiod_on));\n  zone.photoperiod_off = JSON.parse(JSON.stringify(energyZones[j].photoperiod_off));\n  \n  zone.Canopy_light_level = JSON.parse(JSON.stringify(energyZones[j].Canopy_light_level));\n  zone.LED_power = JSON.parse(JSON.stringify(energyZones[j].LED_power));\n\n  zone.label = JSON.parse(JSON.stringify(label)); // clone oflabel\n  zone.sun_dli = JSON.parse(JSON.stringify(sun_dli));\n  zone.led_dli = JSON.parse(JSON.stringify(led_dli));\n  zone.DLI_target = JSON.parse(JSON.stringify(DLI_target));\n  \n  dailyData.push({zone: JSON.parse(JSON.stringify(zone))});\n  \n  label.length = 0;\n  led_dli.length = 0;\n  sun_dli.length = 0;\n  DLI_target.length = 0;\n}\n\n\nmsg.topic = 'Daily DLI';\nmsg.payload.dailyData = dailyData;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1270,"y":840,"wires":[["73460d08.7c3684"]]},{"id":"7d1c1b01.48a4b4","type":"exec","z":"cec120ea.86c5b","command":"piTest -d","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":283,"y":473,"wires":[["7a43d75c.75b038"],[],[]]},{"id":"e5113063.07d77","type":"function","z":"cec120ea.86c5b","name":"","func":"var str = msg.HWdata;\n\n    var count = 0;\n    const reg = /(type: 103)/g\n    count =  ((str || '').match(reg) || []).length\nif (count > 0) {\n       \n msg.AIO_modules = count;\n    msg.Zones = count*2; //for Osram, otherwise *2\n    \n    //var sensorReadArray = new Array(count*2);\n    var dimmerVoltageArray = new Array(count*2);\n    var ZoneIdArray = new Array(count*2);\n    var ZoneActiveArray = new Array(count*2);\n    \n    var readSensor = 'piTest -1 -q -r InputValue_';\n    var setDimmerVoltage = 'piTest -w OutputValue_';\n    \n    for(var i=0; i<count*2;i++){\n        global.set(\"sensorReadArray[\"+i+\"]\", readSensor+(i+1).toString());\n        global.set(\"dimmerVoltageArray[\"+i+\"]\", setDimmerVoltage+(i+1).toString()+\",\");\n        global.set(\"ZoneIdArray[\"+i+\"]\", i);\n        //if (i == 1){msg.payload[i].Active = false}\n        global.set(\"ZoneActiveArray[\"+i+\"]\", msg.payload[i].Active);\n    }\n    return msg;\n} else {\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":460,"wires":[["a478c2e5.bde4f","95c8021b.f5028","d17ad743.764008","8a0a089b.c4dc68","c95069ef.2070f8"]]},{"id":"95c8021b.f5028","type":"change","z":"cec120ea.86c5b","name":"","rules":[{"t":"set","p":"AIO_modules","pt":"global","to":"AIO_modules","tot":"msg"},{"t":"move","p":"AIO_modules","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":460,"wires":[["4e91f49d.b6d2fc"]]},{"id":"d17ad743.764008","type":"change","z":"cec120ea.86c5b","name":"","rules":[{"t":"move","p":"Zones","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":520,"wires":[["db81893.0827278"]]},{"id":"db81893.0827278","type":"DataIn","z":"cec120ea.86c5b","collection":"64496ead.7156c","name":"Configure Hardware","update":false,"path":"/Zones","x":1480,"y":520,"wires":[]},{"id":"8bd77cae.9fe2b","type":"DataIn","z":"52d6f93.95a8b08","collection":"69ed7814.2db008","name":"update data","update":false,"path":"/","x":3464,"y":141,"wires":[]},{"id":"ae793050.7db5c","type":"DataOut","z":"52d6f93.95a8b08","collection":"1633297.1bf58d7","name":"User Parameters","path":"/","error":false,"x":2587,"y":300,"wires":[["5a7ceec4.bb416"]]},{"id":"453572c1.f1240c","type":"change","z":"52d6f93.95a8b08","name":"Time msg","rules":[{"t":"move","p":"setOutput","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3254,"y":214,"wires":[["6fdd0409.2b875c"]]},{"id":"40946b58.702474","type":"DataOut","z":"52d6f93.95a8b08","collection":"69ed7814.2db008","name":"get period data","path":"/","error":true,"x":2257,"y":300,"wires":[["87397305.a9973","aeed0b1.984b8f8","6ebe87e4.63a8a8"]]},{"id":"87397305.a9973","type":"function","z":"52d6f93.95a8b08","name":"","func":"if (!msg.error) {\n    msg.periodData = msg.payload\n    msg.datapath = '';\n    return msg;\n}","outputs":1,"noerr":0,"x":2416,"y":300,"wires":[["ae793050.7db5c"]]},{"id":"8a0a089b.c4dc68","type":"change","z":"cec120ea.86c5b","name":"","rules":[{"t":"move","p":"IO","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":580,"wires":[["8b3ae0b.f8f2a2"]]},{"id":"8b3ae0b.f8f2a2","type":"DataIn","z":"cec120ea.86c5b","collection":"64496ead.7156c","name":"Configure Hardware","update":false,"path":"/IO","x":1480,"y":580,"wires":[]},{"id":"5f3701bb.be95e","type":"inject","z":"cec120ea.86c5b","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"true","payloadType":"bool","x":130,"y":360,"wires":[["985873d3.ae807"]]},{"id":"6168886e.76af88","type":"change","z":"cec120ea.86c5b","name":"","rules":[{"t":"set","p":"Zones","pt":"global","to":"payload.Zones","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":360,"wires":[[]]},{"id":"dc5b95c4.2baaa8","type":"function","z":"52d6f93.95a8b08","name":"","func":"var numZones = global.get(\"Zones\");\nvar outputMsgs = [];\nvardimmerVoltageString;\nvar ZoneId;\nvar sensorReadString;\n\nfor (var i=0; i<numZones; i++) {\n\n    if (global.get(\"ZoneActiveArray[\"+i+\"]\")) {\n    outputMsgs.push({'payload': msg.sensorReadString});\n    }\n    \n}\n\nreturn [outputMsgs];","outputs":2,"noerr":0,"x":260,"y":260,"wires":[["579cc5f3.8beb6c","705ffbf8.418db4"],[]]},{"id":"579cc5f3.8beb6c","type":"change","z":"52d6f93.95a8b08","name":"sensor read","rules":[{"t":"move","p":"sensorReadString","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["b501b1b7.693","95dd2033.5e3df"]]},{"id":"7a43d75c.75b038","type":"change","z":"cec120ea.86c5b","name":"HW data","rules":[{"t":"move","p":"payload","pt":"msg","to":"HWdata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":460,"wires":[["7cca96a2.ae5b58"]]},{"id":"7cca96a2.ae5b58","type":"DataOut","z":"cec120ea.86c5b","collection":"1633297.1bf58d7","name":"Active zones","path":"/Greenhouse/Zone","error":false,"x":570,"y":460,"wires":[["e5113063.07d77"]]},{"id":"f495014.70dc1","type":"inject","z":"cec120ea.86c5b","name":"Daily Save","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"55 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":840,"wires":[["9880d9c9.fa2348"]]},{"id":"9e5449dc.111908","type":"DataIn","z":"cec120ea.86c5b","collection":"a667bcb5.6b4ab","name":"DLI Data","update":true,"path":"/","x":1060,"y":840,"wires":[]},{"id":"928ce407.90ddd8","type":"function","z":"cec120ea.86c5b","name":"set DLIs","func":"var numZones = global.get(\"Zones\");\nvar outputMsgs = [];\n\nfor(var i=0; i<numZones;i++){\n    DLI_target = global.get(\"DLI_target\"+i.toString());\n    ZoneId = global.get(\"ZoneIdArray[\"+i+\"]\");\n    msg.data.dailyDLI.push({'time': msg.time, 'ZoneId': ZoneId, 'SunDLI': msg.payload.periodData[i].cumulative_dli_from_the_sun, 'LED_DLI': msg.payload.periodData[i].cumulative_dli_from_the_leds, 'DLI_target': DLI_target});\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":720,"y":840,"wires":[["e63d1e13.0fc2a"]]},{"id":"eec551c4.4d2f5","type":"debug","z":"cec120ea.86c5b","name":"dailyDLI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":740,"wires":[]},{"id":"9880d9c9.fa2348","type":"change","z":"cec120ea.86c5b","name":"settime","rules":[{"t":"set","p":"time","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"{\"dailyDLI\": []}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":840,"wires":[["66b74222.7f2b0c"]]},{"id":"66b74222.7f2b0c","type":"DataOut","z":"cec120ea.86c5b","collection":"69ed7814.2db008","name":"period DLI","path":"/","error":false,"x":497,"y":840,"wires":[["eec551c4.4d2f5","d6175242.86c45","928ce407.90ddd8"]]},{"id":"72845519.f4df8c","type":"debug","z":"cec120ea.86c5b","name":"Param out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":1060,"wires":[]},{"id":"32fd82f.365a47e","type":"DataIn","z":"cec120ea.86c5b","collection":"69ed7814.2db008","name":"update data","update":false,"path":"/","x":610,"y":1000,"wires":[]},{"id":"3bff8295.6c6f5e","type":"function","z":"cec120ea.86c5b","name":"","func":"\nvar numZones = global.get(\"Zones\");\nvar outputMsgs = [];\n\n\nfor (var i=0; i<numZones; i++) {\n    outputMsgs.push({'payload': 0, 'datapath': \"/periodData[\"+i+\"]/cumulative_dli_from_the_sun\"},\n                    {'payload': 0, 'datapath': \"/periodData[\"+i+\"]/cumulative_dli_from_the_leds\"});\n}\nreturn [outputMsgs];","outputs":3,"noerr":0,"x":430,"y":1008,"wires":[["32fd82f.365a47e","72845519.f4df8c"],[],[]]},{"id":"c4a8b3f9.2d419","type":"inject","z":"cec120ea.86c5b","name":"reset DLIs","repeat":"","crontab":"57 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1008,"wires":[["3bff8295.6c6f5e"]]},{"id":"4805e76f.5d4d48","type":"inject","z":"cec120ea.86c5b","name":"Connect for testing","repeat":"","crontab":"","once":true,"onceDelay":"1.0","topic":"","payload":"","payloadType":"date","x":230,"y":940,"wires":[["9880d9c9.fa2348"]]},{"id":"96da8635.584f38","type":"inject","z":"cec120ea.86c5b","name":"Connect for testing","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"10.0","topic":"","payload":"false","payloadType":"bool","x":190,"y":780,"wires":[[]]},{"id":"5f767b7.4adbd84","type":"debug","z":"52d6f93.95a8b08","name":"LCA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3410,"y":400,"wires":[]},{"id":"e00afce6.6e9ee","type":"function","z":"52d6f93.95a8b08","name":"","func":"msg.ppfd = msg.payload;\nmsg.datapath = \"/periodData[\"+msg.ZoneId+\"]\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":260,"wires":[["47d3f298.e0550c"]]},{"id":"97552ee5.ba39b","type":"function","z":"52d6f93.95a8b08","name":"","func":"\nvar outputMsgs = [];\n\nflow.set(\"previous_time_for_last_calculation[\"+msg.ZoneId+\"]\", msg.periodData.previous_time_for_last_calculation);\nflow.set(\"cumulative_dli_from_the_sun[\"+msg.ZoneId+\"]\", msg.periodData.cumulative_dli_from_the_sun);\nflow.set(\"cumulative_dli_from_the_leds[\"+msg.ZoneId+\"]\", msg.periodData.cumulative_dli_from_the_leds);\nflow.set(\"previous_light_cntrl[\"+msg.ZoneId+\"]\", msg.periodData.light_ctrl);\n\n\n\noutputMsgs.push(\n        {'payload': msg.ZoneId, 'datapath': \"/periodData[\"+msg.ZoneId+\"]/ZoneId\"},\n        {'payload': msg.userParams.Greenhouse.Zone[msg.ZoneId].name, 'datapath': \"/periodData[\"+msg.ZoneId+\"]/name\"},\n        {'payload': msg.periodData.previous_time_for_last_calculation, 'datapath': \"/periodData[\"+msg.ZoneId+\"]/previous_time_for_last_calculation\"},\n        {'payload': msg.periodData.cumulative_dli_from_the_sun, 'datapath': \"/periodData[\"+msg.ZoneId+\"]/cumulative_dli_from_the_sun\"},\n        {'payload': msg.periodData.cumulative_dli_from_the_leds, 'datapath': \"/periodData[\"+msg.ZoneId+\"]/cumulative_dli_from_the_leds\"},\n        {'payload': msg.periodData.previous_light_cntrl, 'datapath': \"/periodData[\"+msg.ZoneId+\"]/previous_light_cntrl\"})\n\nreturn [outputMsgs];","outputs":3,"noerr":0,"x":3284,"y":154,"wires":[["8bd77cae.9fe2b"],[],[]]},{"id":"5a7ceec4.bb416","type":"change","z":"52d6f93.95a8b08","name":"User Params","rules":[{"t":"move","p":"payload","pt":"msg","to":"userParams","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"sunRise_sm","pt":"msg","to":"sunRise_sm","tot":"global"},{"t":"set","p":"sunSet_sm","pt":"msg","to":"sunSet_sm","tot":"global"},{"t":"set","p":"SunRiseTrackingEnabled","pt":"msg","to":"#:(storeInFile)::SunRiseTrackingEnabled","tot":"global"},{"t":"set","p":"SunSetTrackingEnabled","pt":"msg","to":"#:(storeInFile)::SunSetTrackingEnabled","tot":"global"},{"t":"set","p":"manualLightControlEnabled","pt":"msg","to":"#:(storeInFile)::manualLightControlEnabled","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2764,"y":300,"wires":[["2ee3a77f.3bd1d8","554c23cf.6f1f9c","95b72a26.41a9a8"]]},{"id":"b53b78bf.012a38","type":"debug","z":"52d6f93.95a8b08","name":"data buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":440,"wires":[]},{"id":"e63d1e13.0fc2a","type":"change","z":"cec120ea.86c5b","name":"","rules":[{"t":"move","p":"data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":840,"wires":[["9e5449dc.111908","eec551c4.4d2f5"]]},{"id":"7af2a454.6ee3dc","type":"debug","z":"52d6f93.95a8b08","name":"control msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2400,"y":520,"wires":[]},{"id":"9f7afa07.caa178","type":"function","z":"52d6f93.95a8b08","name":"","func":"msg = {}\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":840,"wires":[["540b682f.61af38"]]},{"id":"4a27fb60.1587d4","type":"debug","z":"52d6f93.95a8b08","name":"from frontend","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":560,"wires":[]},{"id":"f809b45a.b1b5b8","type":"change","z":"52d6f93.95a8b08","name":"","rules":[{"t":"set","p":"dailyDLI","pt":"flow","to":"payload.dailyDLI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":840,"wires":[["1a9753a3.fad28c"]]},{"id":"554c23cf.6f1f9c","type":"change","z":"52d6f93.95a8b08","name":"User Params","rules":[{"t":"set","p":"energy_cost","pt":"flow","to":"userParams.Greenhouse.Account.energy_cost","tot":"msg"},{"t":"set","p":"energyZones","pt":"flow","to":"userParams.Greenhouse.Zone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2924,"y":234,"wires":[[]]},{"id":"55c2a7f1.b90af8","type":"DataOut","z":"52d6f93.95a8b08","collection":"1633297.1bf58d7","name":"User Parameters","path":"/","error":false,"x":630,"y":640,"wires":[["4a27fb60.1587d4","a26d263f.4c17b8"]]},{"id":"6e1098dd.ce28c8","type":"function","z":"52d6f93.95a8b08","name":"Settings Update","func":"msg.payload = {};\nmsg.topic = 'userParameters';\nmsg.datapath = '';\ndelete msg.uibuilderCtrl;\ndelete msg.cacheControl;\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":640,"wires":[["55c2a7f1.b90af8"]]},{"id":"3caffc0f.bf0da4","type":"link out","z":"52d6f93.95a8b08","name":"user Params","links":["5405b0e7.3d873"],"x":995,"y":640,"wires":[]},{"id":"aeed0b1.984b8f8","type":"function","z":"52d6f93.95a8b08","name":"","func":"\nif (msg.error) {\nmsg.periodData = {};\n\nvar previous_time_for_last_calculation = flow.get(\"previous_time_for_last_calculation[\"+msg.ZoneId+\"]\");\nvar cumulative_dli_from_the_sun = flow.get(\"cumulative_dli_from_the_sun[\"+msg.ZoneId+\"]\");\nvar cumulative_dli_from_the_leds = flow.get(\"cumulative_dli_from_the_leds[\"+msg.ZoneId+\"]\");\nvar current_time_sec = 0;\n\nif (previous_time_for_last_calculation > 0) {\n    msg.periodData.previous_time_for_last_calculation = previous_time_for_last_calculation;\n} else {\n    var d = new Date();\n    var time_sm = d.setHours(0, 0, 0, 0); // time since midnight in msec\n    current_time_sec = (msg.time - time_sm) / 1000;\n    msg.periodData.previous_time_for_last_calculation = current_time_sec;\n\n}\n\nif (cumulative_dli_from_the_sun > 0) {\n    msg.periodData.cumulative_dli_from_the_sun = cumulative_dli_from_the_sun;\n} else {\n    if ((current_time_sec - 20000.0) > 0) {\n   msg.periodData.cumulative_dli_from_the_sun = (current_time_sec - 20000.0) * 200;//just a wild guess of DLI if we are starting up in the middle of theday\n    } else {\n        msg.periodData.cumulative_dli_from_the_sun = 0.0;\n    }\n        \n} \n\nif (cumulative_dli_from_the_leds) {\n    msg.periodData.cumulative_dli_from_the_leds = cumulative_dli_from_the_leds;\n} else {\n    msg.periodData.cumulative_dli_from_the_leds = 0.0;\n}\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":2520,"y":140,"wires":[["8db20978.58cbc8"]]},{"id":"8db20978.58cbc8","type":"exec","z":"52d6f93.95a8b08","command":"cp ~/.node-red/JsonDB/cyclicData.temp ~/.node-red/JsonDB/cyclicData.json","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2880,"y":140,"wires":[["97552ee5.ba39b","e9b01262.9f67a"],[],[]]},{"id":"95b72a26.41a9a8","type":"function","z":"52d6f93.95a8b08","name":"Test after_target and NI","func":"\n\nvar time_diff;\nvar time_sm;\nvar remaining_photoperiod_sec;\nvar sensor_ppfd;\nvar light_cntrl;\nvar current_time_sec;\nvar ZoneId = msg.ZoneId;\n//var ZoneId = 0;\n\nvar photoperiod_off = msg.userParams.Greenhouse.Zone[ZoneId].photoperiod_off*60;\nvar photoperiod_on = msg.userParams.Greenhouse.Zone[ZoneId].photoperiod_on*60;\n\nNight_Interruption_on = msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_on*60;\nNight_Interruption_off = msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_off*60;\n\nvar d = new Date();\ntime_sm = d.setHours(0, 0, 0, 0); // time since midnight in msec\ncurrent_time_sec = (msg.time - time_sm) / 1000;\ntime_diff = current_time_sec - msg.periodData.previous_time_for_last_calculation;\nmsg.periodData.previous_time_for_last_calculation = current_time_sec;\n\nif (msg.time) {\n    if (time_diff > 0) {\n\n\n        msg.PP_on = (current_time_sec >= photoperiod_on);\n        msg.PP_off = (current_time_sec < photoperiod_off);\n\n        light_cntrl = 0.0;\n        after_cntrl = (msg.userParams.Greenhouse.Zone[ZoneId].LED_level_after_target/100) * 255.0;\n\n\n        \n        // determine whether Night Interuption turn-on time is active\n        msg.NI_on= (current_time_sec >= Night_Interruption_on);\n        msg.NI_off = (current_time_sec < Night_Interruption_off);\n        NI_cntrl = (msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_level/100) * 255.0;\n\n\n        msg.after_level = (after_cntrl/255)*100;\n        msg.afterOutput = msg.dimmerVoltageString+(msg.after_level); // Sets AIO output2 0-10v value\n\n        msg.NI_level = (NI_cntrl/255)*100;\n        msg.NIOutput = msg.dimmerVoltageString+(msg.NI_level); // Sets AIO output2 0-10v value\n        \n        msg.PP_active = false;\n        msg.NI_active = false;\n        if (msg.userParams.Greenhouse.Zone[ZoneId].Photoperiod_Extend_on_off) {     \n            msg.PP_active = true;\n        }\n        if (msg.userParams.Greenhouse.Zone[ZoneId].Night_Interruption_on_off) {\n            msg.NI_active = true;\n        }    \n\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":620,"wires":[["fbc6d9c7.8c2688"]]},{"id":"fbc6d9c7.8c2688","type":"debug","z":"52d6f93.95a8b08","name":"after NI test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2510,"y":620,"wires":[]},{"id":"66bea012.380b4","type":"debug","z":"52d6f93.95a8b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":980,"wires":[]},{"id":"73d96ddd.cedbe4","type":"function","z":"52d6f93.95a8b08","name":"","func":"msg.payload =msg.payload.message;//+\"\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":932,"wires":[["66bea012.380b4"]]},{"id":"2dfccc72.081954","type":"function","z":"52d6f93.95a8b08","name":"","func":"//msg.payload = \"test string\"\nmsg.payload = {}\nmsg.topic = \"davisFloral\"\n\nmsg.payload.ZoneId = msg.ZoneId;\nmsg.payload.previous_time_for_last_calculation = msg.periodData.previous_time_for_last_calculation\nmsg.payload.cumulative_dli_from_the_sun = msg.periodData.cumulative_dli_from_the_sun\nmsg.payload.cumulative_dli_from_the_leds = msg.periodData.cumulative_dli_from_the_leds\nmsg.payload.ppfd = msg.ppfd;\nmsg.payload.time = msg.time;\nmsg.payload.Account = msg.userParams.Account;\nmsg.payload.light_level = msg.light_level;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3284,"y":74,"wires":[["a441ebf5.248898","7e7f6ef6.1ceac","e972b541.fcba48"]]},{"id":"a441ebf5.248898","type":"debug","z":"52d6f93.95a8b08","name":"cloud debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3424,"y":34,"wires":[]},{"id":"edc06cc9.0c5f","type":"AWS IotData","z":"52d6f93.95a8b08","aws":"9e5900a3.4e0d","operation":"Publish","thingName":"","topic":"davisFloral","payload":"","endPoint":"a2cy99mi8a70k8-ats.iot.us-east-1.amazonaws.com","name":"Cyclic Data","x":3624,"y":74,"wires":[["7e7f6ef6.1ceac"],["7e7f6ef6.1ceac"]]},{"id":"e972b541.fcba48","type":"json","z":"52d6f93.95a8b08","name":"","property":"payload","action":"","pretty":true,"x":3464,"y":74,"wires":[["edc06cc9.0c5f"]]},{"id":"7e7f6ef6.1ceac","type":"debug","z":"52d6f93.95a8b08","name":"AWS publish","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3824,"y":134,"wires":[]},{"id":"7719521.f0987ac","type":"comment","z":"cec120ea.86c5b","name":"Osram Changes","info":"msg.Zones = count*1; //for Osram, otherwise *2\n\nfor (var i=1; i <= numZones; i++) {\n\nfor (var i=1; i <= numZones; i++) {\n\nIn the 3 function nodes.","x":540,"y":780,"wires":[]},{"id":"f048d112.9be3b","type":"AWS S3","z":"cec120ea.86c5b","aws":"9e5900a3.4e0d","operation":"PutObject","Bucket":"","Key":"","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":980,"y":900,"wires":[["eec551c4.4d2f5"],["eec551c4.4d2f5"]]},{"id":"d6175242.86c45","type":"function","z":"cec120ea.86c5b","name":"","func":"var numZones = global.get(\"Zones\");\nvar obj;\n\nfor(var i=0; i<numZones;i++){\n    DLI_target = global.get(\"DLI_target\"+i.toString());\n ZoneId = global.get(\"ZoneIdArray[\"+i+\"]\");\n    obj = {'time': msg.time, 'ZoneId': ZoneId, 'SunDLI': msg.payload.periodData[i].cumulative_dli_from_the_sun, 'LED_DLI': msg.payload.periodData[i].cumulative_dli_from_the_leds, 'DLI_target': DLI_target};\n    msg.data.dailyDLI.push(obj);\n    \n}\nvar d = new Date();\nvar month = d.getUTCMonth() + 1; //months from 1-12\nvar day = d.getUTCDate();\nvar year = d.getUTCFullYear();\n\nnewdate = year + \"-\" +month + \"-\" + day;\nmsg.Bucket = \"us.candidus100\"\nmsg.Key = \"Davis_Floral/\"+newdate;\n//msg.Key = \"dailyDLI\"\nmsg.Body = msg.data.dailyDLI;\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":670,"y":900,"wires":[["bc6ed334.a6182"],[],[]]},{"id":"bc6ed334.a6182","type":"json","z":"cec120ea.86c5b","name":"","property":"Body","action":"","pretty":true,"x":830,"y":900,"wires":[["f048d112.9be3b"]]},{"id":"831659d3.5cc508","type":"watch","z":"cec120ea.86c5b","name":"userParms","files":"/home/pi/.node-red/JsonDB/userParameters.json","recursive":"","x":460,"y":1200,"wires":[["26c19897.392a78"]]},{"id":"3ded6e05.ee0982","type":"AWS S3","z":"cec120ea.86c5b","aws":"9e5900a3.4e0d","operation":"PutObject","Bucket":"","Key":"","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":1120,"y":1200,"wires":[[],["72845519.f4df8c"]]},{"id":"cf4c3ae3.9f5848","type":"function","z":"cec120ea.86c5b","name":"","func":"\nvar d = new Date();\nvar month = d.getUTCMonth() + 1; //months from 1-12\nvar day = d.getUTCDate();\nvar year = d.getUTCFullYear();\n\nnewdate = year + \"-\" + month + \"-\" + day;\nmsg.Bucket = \"us.candidus100\"\nmsg.Key = \"DavisFloralParameters/\"+newdate;\n//msg.Key = \"dailyDLI\"\nmsg.Body = msg.payload;\nreturn msg;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":830,"y":1200,"wires":[["72845519.f4df8c","3ded6e05.ee0982"],[],[]]},{"id":"26c19897.392a78","type":"file in","z":"cec120ea.86c5b","name":"Load parms","filename":"/home/pi/.node-red/JsonDB/userParameters.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":1200,"wires":[["cf4c3ae3.9f5848"]]},{"id":"5b69b1be.b8a9b","type":"inject","z":"52d6f93.95a8b08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":250,"y":980,"wires":[["1d0c24c2.2b5a2b"]]},{"id":"1d0c24c2.2b5a2b","type":"exec","z":"52d6f93.95a8b08","command":"sudo hcitool -i hci0 cmd 0x08 0x0008 1E 02 01 1A 1A FF 4C 00 02 15 E2 0A 39 F4 73 F5 4B C4 A1 2F 17 D1 AD 07 A9 88 00 00 00 00 C8 00","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"run hciconfig","x":450,"y":980,"wires":[[],["66bea012.380b4"],[]]},{"id":"3a619af8.cdf7c6","type":"comment","z":"52d6f93.95a8b08","name":"Old zone approach","info":"Needs to be updated to read # of apogee sensors using lsusb or cat /sys/kernel/debug/usb/devices","x":190,"y":500,"wires":[]},{"id":"a5366105.1262a","type":"function","z":"52d6f93.95a8b08","name":"","func":"\nmsg.ppfd = msg.micromoles;\nmsg.datapath = \"/periodData[\"+msg.ZoneId+\"]\";\nreturn msg;","outputs":1,"noerr":0,"x":2260,"y":140,"wires":[["40946b58.702474"]]},{"id":"6ebe87e4.63a8a8","type":"debug","z":"52d6f93.95a8b08","name":"LCA1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2604,"y":214,"wires":[]},{"id":"87b4221.ba8bfe","type":"sms-receive","z":"cec120ea.86c5b","d":true,"rccreds":"d3911739.39f288","page":"1","per-page":100,"name":"DateTime","x":420,"y":60,"wires":[["6d7248d1.b698a8","e1552eae.5560b","9e0e3d47.e453"]],"l":false},{"id":"e1552eae.5560b","type":"debug","z":"cec120ea.86c5b","name":"SMS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":60,"wires":[]},{"id":"8e412ccf.5028a","type":"inject","z":"cec120ea.86c5b","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":60,"wires":[["65e40c16.7a8fa4"]]},{"id":"65e40c16.7a8fa4","type":"moment","z":"cec120ea.86c5b","name":"DateTime","topic":"","input":"","inputType":"msg","inTz":"America/New_York","adjAmount":"60","adjType":"seconds","adjDir":"subtract","format":"","locale":"en_US","output":"dateFrom","outputType":"msg","outTz":"America/New_York","x":281,"y":60,"wires":[["87b4221.ba8bfe"]]},{"id":"26c7dd9b.9e4932","type":"inject","z":"cec120ea.86c5b","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"true","payloadType":"bool","x":111,"y":540,"wires":[["d7ff7f29.e11ef"]]},{"id":"d7ff7f29.e11ef","type":"exec","z":"cec120ea.86c5b","command":"for i in /dev/ttyACM*; do    udevadm info -r -q all \"$i\" | awk -F= ' /DEVNAME/{d=$2}      /ID_VENDOR_ID/{v=$2}      /ID_MODEL_ID/{m=$2}      d&&v&&m{print d,v\":\"m;d=v=m=\"\"}   '; done","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Query PAR sensors","x":310,"y":540,"wires":[["2d6b4ce8.9ce564","b3e95c13.73178"],[],[]]},{"id":"897134f1.0a6c98","type":"function","z":"cec120ea.86c5b","name":"","func":"var str = msg.usbSensors;\nvar numSensors = msg.usbSensors.split(\"/dev\").length;\n\nif (numSensors > 0) {\n    var count = 0;\n    const reg = /(1916:0031)/g\n    count =  ((str || '').match(reg) || []).length\n       \n    msg.PAR_sensors = count;\n    msg.Zones = count; //for Osram, otherwise *2\n    \n    var sensorReadArray = new Array(count);\n    var dimmerVoltageArray = new Array(count);\n    var ZoneIdArray = new Array(count);\n    var ZoneActiveArray = new Array(count);\n    \n    var readSensor = 'piTest -1 -q -r InputValue_';\n var setDimmerVoltage = 'piTest -w OutputValue_';\n    \n    for(var i=0; i<count;i++){\n        global.set(\"sensorReadArray[\"+i+\"]\", readSensor+(i+1).toString());\n        global.set(\"dimmerVoltageArray[\"+i+\"]\", setDimmerVoltage+(i+1).toString()+\",\");\n        global.set(\"ZoneIdArray[\"+i+\"]\", i);\n        //if (i == 1){msg.payload[i].Active = false}\n        global.set(\"ZoneActiveArray[\"+i+\"]\", true);\n    }\n    //global.set(\"PARsensorUSB\",true);\n   \n    //msg.IO = {sensorReadArray, dimmerVoltageArray, ZoneIdArray}\n    return msg;\n} else {\n    global.set(\"PARsensorUSB\",false);\n}    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":540,"wires":[["a478c2e5.bde4f","d17ad743.764008","8a0a089b.c4dc68","c95069ef.2070f8"]]},{"id":"2d6b4ce8.9ce564","type":"change","z":"cec120ea.86c5b","name":"USB sensors","rules":[{"t":"move","p":"payload","pt":"msg","to":"usbSensors","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":540,"wires":[["897134f1.0a6c98"]]},{"id":"18de817a.70784f","type":"ui_form","z":"52d6f93.95a8b08","d":true,"name":"","label":"","group":"4c635665.c3e348","order":0,"width":0,"height":0,"options":[{"label":"sample rate","value":"Hz","type":"number","required":true,"rows":null},{"label":"photoperiod on time","value":"example 0845","type":"text","required":true,"rows":null},{"label":"photoperiod off time","value":"example 2015","type":"text","required":true,"rows":null},{"label":"DLI Target","value":"0-50","type":"number","required":false,"rows":null},{"label":"Canopy ppfd from LED lights","value":"0-500 umols","type":"number","required":false,"rows":null},{"label":"Light level at DLI Target achieved","value":"LevelAfterDLIachieved","type":"number","required":false,"rows":null},{"label":"Night Interuption On time","value":"NIontime","type":"text","required":false,"rows":null},{"label":"Night Interuption Off time","value":"NIofftime","type":"text","required":false,"rows":null},{"label":"Night Interuption Light Level","value":"NIlevel","type":"text","required":false,"rows":null}],"formValue":{"Hz":"","example 0845":"","example 2015":"","0-50":"","0-500 umols":"","LevelAfterDLIachieved":"","NIontime":"","NIofftime":"","NIlevel":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":1260,"wires":[[]]},{"id":"490ad4fa.34fc9c","type":"ui_form","z":"52d6f93.95a8b08","d":true,"name":"","label":"","group":"dd8c727e.a07db","order":0,"width":"0","height":"0","options":[{"label":"PAR sensor USB or analog?","value":"PARsensorUSB","type":"checkbox","required":false,"rows":null},{"label":" . ","value":".","type":"multiline","required":false,"rows":2},{"label":"Light Level % or ppfd?","value":"levelPercent","type":"checkbox","required":false,"rows":null},{"label":" .","value":".","type":"multiline","required":false,"rows":1},{"label":"Login On or Off?","value":"loginOn","type":"checkbox","required":false,"rows":null},{"label":" .","value":".","type":"multiline","required":false,"rows":1},{"label":" .","value":".","type":"multiline","required":false,"rows":1},{"label":".","value":".","type":"multiline","required":false,"rows":1}],"formValue":{"PARsensorUSB":false,".":"","levelPercent":false,"loginOn":false},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":490,"y":1100,"wires":[["ead17be5.95c358"]]},{"id":"dad21116.3206c","type":"http request","z":"52d6f93.95a8b08","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":1160,"wires":[[]]},{"id":"c2c32ca2.747df","type":"http response","z":"52d6f93.95a8b08","name":"","statusCode":"","headers":{},"x":310,"y":1260,"wires":[]},{"id":"ead17be5.95c358","type":"change","z":"52d6f93.95a8b08","d":true,"name":"Set api elements","rules":[{"t":"set","p":"#:(storeInFile)::levelPercent","pt":"global","to":"payload.levelPercent","tot":"msg"},{"t":"set","p":"#:(storeInFile)::PARsensorUSB","pt":"global","to":"payload.PARsensorUSB","tot":"msg"},{"t":"set","p":"#:(storeInFile)::loginOn","pt":"global","to":"payload.loginOn","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1100,"wires":[[]]},{"id":"d70f5bfe.6321b8","type":"http response","z":"52d6f93.95a8b08","name":"update response","statusCode":"","headers":{"content-type":"application/json"},"x":870,"y":1160,"wires":[]},{"id":"bf897704.ef0a08","type":"change","z":"52d6f93.95a8b08","name":"Set api elements","rules":[{"t":"set","p":"payload.levelPercent","pt":"msg","to":"levelPercentBol","tot":"global"},{"t":"set","p":"payload.ppfdTarget","pt":"msg","to":"ppfdTargetBol","tot":"global"},{"t":"set","p":"cumulative_dli_from_the_sunI","pt":"flow","to":"cumulative_dli_from_the_sun","tot":"msg"},{"t":"set","p":"payload.cum_LED_DLI","pt":"msg","to":"cum_LED_DLIBol","tot":"global"},{"t":"set","p":"payload.sensorPPFD","pt":"msg","to":"sensorPPFDBol","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":1200,"wires":[[]]},{"id":"3b4f42a8.57651e","type":"http in","z":"52d6f93.95a8b08","name":"","url":"/DLIupdate","method":"get","upload":false,"swaggerDoc":"","x":360,"y":1160,"wires":[["ee2ea2c4.50a6e","ab3b246.64d3dd8"]]},{"id":"69473fdb.9948e","type":"inject","z":"52d6f93.95a8b08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":1100,"wires":[["212aa855.59a018"]]},{"id":"d1a9b907.723108","type":"ui_numeric","z":"52d6f93.95a8b08","d":true,"name":"","label":"Zone","tooltip":"","group":"b75de9ca.f424c8","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"2","step":1,"x":470,"y":1040,"wires":[["c62ac778.2e94c8"]]},{"id":"37cbef1f.129f1","type":"inject","z":"52d6f93.95a8b08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":1040,"wires":[["4a1b4959.a8bda8"]]},{"id":"4a1b4959.a8bda8","type":"change","z":"52d6f93.95a8b08","name":"Set api elements","rules":[{"t":"set","p":"payload.api_zone","pt":"msg","to":"#:(storeInFile)::api_zone","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1040,"wires":[["d1a9b907.723108"]]},{"id":"c62ac778.2e94c8","type":"change","z":"52d6f93.95a8b08","name":"Set api elements","rules":[{"t":"set","p":"#:(storeInFile)::api_zone","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1040,"wires":[[]]},{"id":"ee2ea2c4.50a6e","type":"debug","z":"52d6f93.95a8b08","name":"API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1220,"wires":[]},{"id":"ab3b246.64d3dd8","type":"function","z":"52d6f93.95a8b08","name":"","func":"\n var zone = parseInt(msg.payload.zone);\n var tempTarget = 0;\n msg.payload.time = global.get(\"timestamp[\"+zone+\"]\");\n msg.payload.lightLevelPercent =  global.get(\"lightLevelPercent[\"+zone+\"]\");\n \n if (global.get(\"ppfdTarget[\"+zone+\"]\") < 0) {\n     msg.payload.ppfdTarget = 0;\n } else {\n    msg.payload.ppfdTarget = global.get(\"ppfdTarget[\"+zone+\"]\");\n }    \n msg.payload.cumulativeSunDLI = global.get(\"cumulativeSunDLI[\"+zone+\"]\");\n msg.payload.cumulativeLEDDLI = global.get(\"cumulativeLEDDLI[\"+zone+\"]\");\n msg.payload.sensorPPFD = global.get(\"sensorPPFD[\"+zone+\"]\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1160,"wires":[["89568edc.0e819"]]},{"id":"89568edc.0e819","type":"template","z":"52d6f93.95a8b08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"name\": \"CandidusALCapi\",\n  \"version\": \"1.0.0\",\n  \"time\": {{payload.time}},\n  \"Zone\": {{payload.zone}},\n  \"description\": \"DLI update\",\n  \"lightLevelPercent\": {{payload.lightLevelPercent}},\n  \"ppfdTarget\": {{payload.ppfdTarget}},\n  \"cumulativeSunDLI\": {{payload.cumulativeSunDLI}},\n  \"cumulativeLEDDLI\": {{payload.cumulativeLEDDLI}},\n  \"sensorPPFD\": {{payload.sensorPPFD}}\n}\n","output":"str","x":700,"y":1160,"wires":[["d70f5bfe.6321b8","ee2ea2c4.50a6e"]],"info":"            global.set(\"lightLevelPercent\",msg.light_level)\n      global.set(\"ppfdTarget\",ppfd_target)\n            global.set(\"cumulativeSunDLI\", cumulative_dli_from_the_sun)\n            global.set(\"cumulativeLEDDLI\", msg.led_dli_cum)\n            global.set(\"sensorPPFD\", sensor_ppfd)"},{"id":"212aa855.59a018","type":"change","z":"52d6f93.95a8b08","d":true,"name":"Setapi elements","rules":[{"t":"set","p":"payload.levelPercent","pt":"msg","to":"#:(storeInFile)::levelPercent","tot":"global"},{"t":"set","p":"payload.PARsensorUSB","pt":"msg","to":"#:(storeInFile)::PARsensorUSB","tot":"global"},{"t":"set","p":"payload.loginOn","pt":"msg","to":"#:(storeInFile)::loginOn","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":321,"y":1100,"wires":[["490ad4fa.34fc9c"]]},{"id":"c95069ef.2070f8","type":"change","z":"cec120ea.86c5b","name":"","rules":[{"t":"set","p":"Zones","pt":"global","to":"Zones","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":380,"wires":[[]]},{"id":"f6c0903d.7d8a8","type":"inject","z":"52d6f93.95a8b08","name":"PPFD Loop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"5","topic":"uibuilder-bootstrap-vue","payload":"","payloadType":"date","x":130,"y":120,"wires":[["7a16388b.93a718"]]},{"id":"7a16388b.93a718","type":"change","z":"52d6f93.95a8b08","name":"Time msg","rules":[{"t":"move","p":"payload","pt":"msg","to":"time","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[85,33]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":120,"wires":[["e442a430.adbe68","b62490e0.25762"]]},{"id":"861de216.0ffbc","type":"inject","z":"52d6f93.95a8b08","name":"","props":[{"p":"payload","v":"[131,33]","vt":"bin"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"1.0","topic":"","payload":"[131,33]","payloadType":"bin","x":110,"y":200,"wires":[["3a2177fa.837478"]]},{"id":"e442a430.adbe68","type":"function","z":"52d6f93.95a8b08","name":"","func":"var PARsensorUSB = global.get(\"PARsensorUSB\");\n\nif (PARsensorUSB) {\ncmd = msg.payload[0]\n\nif (cmd == 0x83) {\n    msg.waitfor = 0x83;\n    msg.count = 9;\n} else if (cmd == 0x55) {\n    msg.count = 5;\n    msg.waitfor = 0x55;\n} \n\nreturn msg;\n}","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["d37b71a9.b80c8","1866f375.a3112d","f840a86b.654348","1b7acecb.13ff41"]]},{"id":"e3442302.53644","type":"function","z":"52d6f93.95a8b08","name":"Read PAR Sensor","func":"msg.time = msg.time + 10;\nvar checkHex = function(hex) {\n    var hexOut = '';\n    if (hex.toString(16).length == 2) {\n        hexOut += hex.toString(16);\n    } else if (hex.toString(16).length == 1) {\n        hexOut += '0' + hex.toString(16);\n    }\n    return hexOut;\n}\n\nif (Buffer.isBuffer(msg.request_payload)) {\n    cmd = msg.request_payload[0];\n} else {\n    msg.unknown = msg;\n    return msg.uknown;\n}    \nvar sensorOutputHex1 = '';    \nvar sensorOutputHex2 = ''; \n\nif (cmd == 0x55) {\n    if (msg.payload.length == 5) {\n        mult = global.get(\"sensorMult1\")\n    offset = global.get(\"sensorOffset1\")\n        for (i=1; i<5; i++) {\n            if (msg.payload[i].toString(16).length == 2) {\n                sensorOutputHex1 += msg.payload[i].toString(16);\n            } else if (msg.payload[i].toString(16).length == 1) {\n                sensorOutputHex1 += '0' + msg.payload[i].toString(16);\n            }\n        }\n        voltage = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n        msg.micromoles = (voltage - offset) * mult * 1000;\n        msg.sensorOutputHex1 = sensorOutputHex1;\n        msg.sensor = 1;\n    } else {\n        // TODO should be an error trap here\n        //msg.micromoles = msg.payload\n    }\n    return msg;\n    \n} else if (cmd == 0x83) {\n    \n    \n    sensorOutputHex1 = checkHex(msg.payload[1])+checkHex(msg.payload[2])+checkHex(msg.payload[3])+checkHex(msg.payload[4]);\n    sensorOutputHex2 = checkHex(msg.payload[5])+checkHex(msg.payload[6])+checkHex(msg.payload[7])+checkHex(msg.payload[8]);\n\n    global.set(\"sensorMult1\", Buffer(sensorOutputHex1, 'hex').readFloatLE(0));\n    global.set(\"sensorOffset1\", Buffer(sensorOutputHex2, 'hex').readFloatLE(0));\n\n    msg.calibration1 = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n    msg.calibration2 = Buffer(sensorOutputHex2,'hex').readFloatLE(0);\n}\n\n\n","outputs":1,"noerr":0,"x":1904,"y":93,"wires":[["2a0f13aa.b38a0c","ff2d2189.8267d"]]},{"id":"8a03620.44c4ea","type":"serial request","z":"52d6f93.95a8b08","name":"","serial":"39a61b2.fc66ce4","x":1134,"y":93,"wires":[["ff2d2189.8267d","29f18d5c.4950a2"]]},{"id":"3263bd2.8190342","type":"serial request","z":"52d6f93.95a8b08","name":"","serial":"89a6235f.60be5","x":1134,"y":133,"wires":[["c5d9e59c.fa0138"]]},{"id":"c5d9e59c.fa0138","type":"function","z":"52d6f93.95a8b08","name":"Read PAR Sensor","func":"msg.time = msg.time+ 100;\nvar checkHex = function(hex) {\n    var hexOut = '';\n    if (hex.toString(16).length == 2) {\n        hexOut += hex.toString(16);\n    } else if (hex.toString(16).length == 1) {\n        hexOut += '0' + hex.toString(16);\n    }\n    return hexOut;\n}\n\nif (Buffer.isBuffer(msg.request_payload)) {\n cmd = msg.request_payload[0];\n} else {\n    msg.unknown = msg;\n    return msg.uknown;\n}    \nvar sensorOutputHex1 = '';    \nvar sensorOutputHex2 = '';\n\nif (cmd == 0x55) {\n    if (msg.payload.length == 5) {\n        mult = global.get(\"sensorMult2\")\n        offset = global.get(\"sensorOffset2\")\n        for (i=1; i<5; i++) {\n            if (msg.payload[i].toString(16).length == 2) {\n                sensorOutputHex1 += msg.payload[i].toString(16);\n                //if (i===1) {\n                  //  msg.sensorOutputHex2 = sensorOutputHex1\n                //}\n            } else if (msg.payload[i].toString(16).length == 1) {\n                sensorOutputHex1 += '0' + msg.payload[i].toString(16);\n                //if (i>1) {\n    //  msg.sensorOutputHex3 = sensorOutputHex1\n                //}\n            }\n        }\n        //msg.sensorOutputHex0 = msg.payload[1].toString(16)+msg.payload[2].toString(16)+msg.payload[3].toString(16)+msg.payload[4].toString(16);\n        voltage = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n        msg.micromoles = (voltage - offset) * mult * 1000;\n        msg.sensorOutputHex1 = sensorOutputHex1;\nmsg.sensor = 2;\n    } else {\n// TODO should be an error trap here\n        //msg.micromoles = msg.payload\n    }\n    return msg;\n    \n} else if (cmd == 0x83) {\n    \nsensorOutputHex1 = checkHex(msg.payload[1])+checkHex(msg.payload[2])+checkHex(msg.payload[3])+checkHex(msg.payload[4]);\nsensorOutputHex2 = checkHex(msg.payload[5])+checkHex(msg.payload[6])+checkHex(msg.payload[7])+checkHex(msg.payload[8]);\n\n    global.set(\"sensorMult2\", Buffer(sensorOutputHex1, 'hex').readFloatLE(0));\n    global.set(\"sensorOffset2\", Buffer(sensorOutputHex2, 'hex').readFloatLE(0));\n\n    msg.calibration1 = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n    msg.calibration2 = Buffer(sensorOutputHex2, 'hex').readFloatLE(0);\n}\n\n","outputs":1,"noerr":0,"x":1904,"y":133,"wires":[["2a0f13aa.b38a0c"]]},{"id":"3a2177fa.837478","type":"change","z":"52d6f93.95a8b08","name":"PAR calibartion","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":200,"wires":[["e442a430.adbe68"]]},{"id":"1cc81fd.670c4e","type":"debug","z":"52d6f93.95a8b08","name":"mulit msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2224,"y":73,"wires":[]},{"id":"ff2d2189.8267d","type":"debug","z":"52d6f93.95a8b08","name":"mulit msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1965,"y":33,"wires":[]},{"id":"2a0f13aa.b38a0c","type":"function","z":"52d6f93.95a8b08","name":"","func":"var numZones = global.get(\"Zones\");\nvar outputMsgs = [];\nvar dimmerVoltageString;\nvar ZoneId;\nvar sensorReadString;\nvar i = 0;\n\nvar PARsensorUSB = global.get(\"PARsensorUSB\",\"default\");\nif (PARsensorUSB) {\n\n    i = msg.sensor - 1;\n\n    ZoneId = global.get(\"ZoneIdArray[\"+i+\"]\");\n    dimmerVoltageString = global.get(\"dimmerVoltageArray[\"+i+\"]\");\nsensorReadString = global.get(\"sensorReadArray[\"+i+\"]\");\n    \n    if (global.get(\"ZoneActiveArray[\"+i+\"]\")) {\n        outputMsgs.push({'payload': msg.payload, 'ZoneId': ZoneId, 'dimmerVoltageString': dimmerVoltageString, 'sensorReadString': sensorReadString, 'time': msg.time, 'numZone': numZones, 'micromoles': msg.micromoles, 'parCommand': msg.parCommand});\n    }\n    \n} else { // using AIO module for ppfd sensor\n\n//    for (i=0; i<numZones; i++) {\n        i = msg.sensor - 1;\n        ZoneId = global.get(\"ZoneIdArray[\"+i+\"]\");\n        dimmerVoltageString = global.get(\"dimmerVoltageArray[\"+i+\"]\");\n        sensorReadString = global.get(\"sensorReadArray[\"+i+\"]\");\n        msg.micromoles = parseInt(msg.payload);\n      //msg.ppfd = msg.micromoles;\n    if (global.get(\"ZoneActiveArray[\"+i+\"]\")) {\n        outputMsgs.push({'payload': msg.payload, 'ZoneId': ZoneId, 'dimmerVoltageString': dimmerVoltageString, 'sensorReadString': sensorReadString, 'time': msg.time, 'numZone': numZones, 'micromoles': msg.micromoles, 'parCommand': \" \"});\n    }\n    \n//    }\n\n}\n\nreturn [outputMsgs];","outputs":2,"noerr":0,"x":2104,"y":153,"wires":[["1cc81fd.670c4e","a5366105.1262a"],[]]},{"id":"b8d5d2dc.363ef","type":"function","z":"52d6f93.95a8b08","name":"Read PAR Sensor","func":"msg.time = msg.time + 200;\nvar checkHex = function(hex) {\n    var hexOut = '';\n    if (hex.toString(16).length == 2) {\nhexOut += hex.toString(16);\n    } else if (hex.toString(16).length == 1) {\n        hexOut += '0' + hex.toString(16);\n    }\n    return hexOut;\n}\n\nif (Buffer.isBuffer(msg.request_payload)) {\n    cmd = msg.request_payload[0];\n} else {\n    msg.unknown = msg;\n    return msg.uknown;\n}    \nvar sensorOutputHex1 = '';    \nvar sensorOutputHex2 = ''; \n\nif (cmd == 0x55) {\n   if (msg.payload.length == 5) {\n        mult = global.get(\"sensorMult3\")\n        offset = global.get(\"sensorOffset3\")\n        for (i=1; i<5; i++) {\n            if (msg.payload[i].toString(16).length == 2) {\n       sensorOutputHex1 += msg.payload[i].toString(16);\n                //if (i===1) {\n                  //  msg.sensorOutputHex2 = sensorOutputHex1\n                //}\n            } else if (msg.payload[i].toString(16).length == 1) {\n               sensorOutputHex1 += '0' + msg.payload[i].toString(16);\n                //if (i>1) {\n                  //  msg.sensorOutputHex3 = sensorOutputHex1\n                //}\n            }\n     }\n        //msg.sensorOutputHex0 = msg.payload[1].toString(16)+msg.payload[2].toString(16)+msg.payload[3].toString(16)+msg.payload[4].toString(16);\n        voltage = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n        msg.micromoles = (voltage - offset) * mult * 1000;\n        msg.sensorOutputHex1 = sensorOutputHex1;\n        msg.sensor = 3;\n    } else {\n        // TODO should be an error trap here\n        //msg.micromoles =msg.payload\n    }\n    return msg;\n    \n} else if (cmd == 0x83) {\n    \n    sensorOutputHex1 = checkHex(msg.payload[1])+checkHex(msg.payload[2])+checkHex(msg.payload[3])+checkHex(msg.payload[4]);\n    sensorOutputHex2 = checkHex(msg.payload[5])+checkHex(msg.payload[6])+checkHex(msg.payload[7])+checkHex(msg.payload[8]);\n\n    global.set(\"sensorMult3\", Buffer(sensorOutputHex1, 'hex').readFloatLE(0));\n    global.set(\"sensorOffset3\",Buffer(sensorOutputHex2, 'hex').readFloatLE(0));\n\n    msg.calibration1 = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n    msg.calibration2 = Buffer(sensorOutputHex2, 'hex').readFloatLE(0);\n}\n\n","outputs":1,"noerr":0,"x":1904,"y":173,"wires":[["2a0f13aa.b38a0c"]]},{"id":"f63ff8c9.d4a1f8","type":"serial request","z":"52d6f93.95a8b08","name":"","serial":"1fdf0343.9ab62d","x":1134,"y":173,"wires":[["b8d5d2dc.363ef"]]},{"id":"76fede70.b2a77","type":"serial request","z":"52d6f93.95a8b08","name":"","serial":"87949b1c.2702a8","x":1134,"y":213,"wires":[["71406fe3.90d1d"]]},{"id":"71406fe3.90d1d","type":"function","z":"52d6f93.95a8b08","name":"Read PAR Sensor","func":"msg.time = msg.time + 300;\nvar checkHex = function(hex) {\n    var hexOut = '';\n    if (hex.toString(16).length == 2) {\n        hexOut += hex.toString(16);\n    } else if (hex.toString(16).length == 1) {\n        hexOut += '0' + hex.toString(16);\n    }\n    return hexOut;\n}\n\nif (Buffer.isBuffer(msg.request_payload)) {\n    cmd = msg.request_payload[0];\n} else {\n    msg.unknown = msg;\n    return msg.uknown;\n}    \nvar sensorOutputHex1 = '';    \nvar sensorOutputHex2 = '';  \n\nif (cmd == 0x55) {\n    if (msg.payload.length == 5) {\n        mult = global.get(\"sensorMult4\")\n        offset = global.get(\"sensorOffset4\")\n       for (i=1; i<5; i++) {\n            if (msg.payload[i].toString(16).length == 2) {\n                sensorOutputHex1 += msg.payload[i].toString(16);\n            } else if (msg.payload[i].toString(16).length == 1) {\n                sensorOutputHex1 += '0' + msg.payload[i].toString(16);\n           }\n        }\n        //msg.sensorOutputHex0 = msg.payload[1].toString(16)+msg.payload[2].toString(16)+msg.payload[3].toString(16)+msg.payload[4].toString(16);\n        voltage = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n        msg.micromoles = (voltage - offset) * mult * 1000;\n        msg.sensorOutputHex1 = sensorOutputHex1;\n        msg.sensor = 4;\n    } else {\n        // TODO should be an error trap here\n        //msg.micromoles = msg.payload\n    }\n    return msg;\n    \n} else if (cmd == 0x83) {\n    \n    sensorOutputHex1 = checkHex(msg.payload[1])+checkHex(msg.payload[2])+checkHex(msg.payload[3])+checkHex(msg.payload[4]);\n    sensorOutputHex2 = checkHex(msg.payload[5])+checkHex(msg.payload[6])+checkHex(msg.payload[7])+checkHex(msg.payload[8]);\n\n    global.set(\"sensorMult4\", Buffer(sensorOutputHex1, 'hex').readFloatLE(0));\n    global.set(\"sensorOffset4\", Buffer(sensorOutputHex2, 'hex').readFloatLE(0));\n\n    msg.calibration1 = Buffer(sensorOutputHex1, 'hex').readFloatLE(0);\n    msg.calibration2 = Buffer(sensorOutputHex2, 'hex').readFloatLE(0);\n}\n\n","outputs":1,"noerr":0,"x":1904,"y":213,"wires":[["2a0f13aa.b38a0c"]]},{"id":"d37b71a9.b80c8","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":132,"wires":[["3263bd2.8190342"]]},{"id":"1866f375.a3112d","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":172,"wires":[["f63ff8c9.d4a1f8"]]},{"id":"1a9753a3.fad28c","type":"DataOut","z":"52d6f93.95a8b08","collection":"1633297.1bf58d7","name":"User Parameters","path":"/","error":false,"x":870,"y":840,"wires":[["a78d694b.520458"]]},{"id":"a78d694b.520458","type":"change","z":"52d6f93.95a8b08","name":"User Params","rules":[{"t":"move","p":"payload","pt":"msg","to":"userParams","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"numZone","pt":"msg","to":"Zones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1056,"y":840,"wires":[["a97b351c.c7bb58"]]},{"id":"a26d263f.4c17b8","type":"change","z":"52d6f93.95a8b08","name":"User Params","rules":[{"t":"set","p":"numZone","pt":"msg","to":"Zones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":640,"wires":[["3caffc0f.bf0da4"]]},{"id":"6d7248d1.b698a8","type":"function","z":"cec120ea.86c5b","name":"","func":"\nvar numRecords = msg.response.records.length;\nvar message = \"\";\nvar record = {}\nvar loc = 0;\nvar outputMsgs = [];\n\nif (numRecords >= 1) {\n    for (i=0; i < numRecords; i++) {\n        record = msg.response.records[i];    \n        loc = record.subject.indexOf(\"- \")+2;\n\n        message = record.subject.substring(loc)\n    \n        outputMsgs.push({'payload': message});\n    }\n    \nreturn [outputMsgs];\n}\n\n","outputs":1,"noerr":0,"x":580,"y":60,"wires":[["1afed9ac.a8a2c6","2731caa2.538e66"]]},{"id":"1afed9ac.a8a2c6","type":"file","z":"cec120ea.86c5b","name":"SMS to file","filename":"/home/pi/.node-red/JsonDB/SMSmessages.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":830,"y":100,"wires":[[]]},{"id":"2731caa2.538e66","type":"debug","z":"cec120ea.86c5b","name":"SMS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":140,"wires":[]},{"id":"9e0e3d47.e453","type":"function","z":"cec120ea.86c5b","name":"","func":"\nvar numRecords = msg.response.records.length;\nvar message = \"\";\nvar record = {}\nvar loc = 0;\n\n\nif (numRecords >= 1) {\n    for (i=0; i < numRecords; i++) {\n        record = msg.response.records[i];  \n      msg.record = record;\n        loc = record.subject.indexOf(\"- \")+2;\n        msg.loc = loc;\n        msg.message = record.subject.substring(loc)\n    \n    }\n    \nreturn msg;\n}\n\n","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["2731caa2.538e66"]]},{"id":"4bc3ebe6.acbd84","type":"function","z":"52d6f93.95a8b08","name":"","func":"msg = {}\nmsg.topic = 'notifications';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":880,"wires":[["862de4a8.3a83f8"]]},{"id":"862de4a8.3a83f8","type":"file in","z":"52d6f93.95a8b08","name":"","filename":"/home/pi/.node-red/JsonDB/SMSmessages.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":577,"y":881,"wires":[["ce7c8638.d718f8"]]},{"id":"f840a86b.654348","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":708,"y":212,"wires":[["76fede70.b2a77"]]},{"id":"1b7acecb.13ff41","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":711,"y":93,"wires":[["9eb12710.2c12f8"]]},{"id":"bed13cbc.1785c","type":"inject","z":"52d6f93.95a8b08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":1320,"wires":[["1ec18b38.d2b385"]]},{"id":"1fc9b375.a45e3d","type":"change","z":"52d6f93.95a8b08","name":"Set api elements","rules":[{"t":"set","p":"#:(storeInFile)::timezone","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1320,"wires":[[]]},{"id":"9af0c078.354da","type":"template","z":"52d6f93.95a8b08","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<select  id=\"timezone\" name=\"timezone\" onchange=\"updateTZ(this.value)\" >\n  <optionvalue=\"Africa/Abidjan\">Africa/Abidjan GMT+0:00</option>\n  <option value=\"Africa/Accra\">Africa/Accra GMT+0:00</option>\n  <option value=\"Africa/Addis_Ababa\">Africa/Addis_Ababa GMT+3:00</option>\n  <option value=\"Africa/Algiers\">Africa/Algiers GMT+1:00</option>\n  <option value=\"Africa/Asmara\">Africa/Asmara GMT+3:00</option>\n  <option value=\"Africa/Asmera\">Africa/Asmera GMT+3:00</option>\n  <option value=\"Africa/Bamako\">Africa/Bamako GMT+0:00</option>\n  <option value=\"Africa/Bangui\">Africa/Bangui GMT+1:00</option>\n  <option value=\"Africa/Banjul\">Africa/Banjul GMT+0:00</option>\n  <option value=\"Africa/Bissau\">Africa/Bissau GMT+0:00</option>\n  <option value=\"Africa/Blantyre\">Africa/Blantyre GMT+2:00</option>\n  <option value=\"Africa/Brazzaville\">Africa/Brazzaville GMT+1:00</option>\n  <option value=\"Africa/Bujumbura\">Africa/Bujumbura GMT+2:00</option>\n  <option value=\"Africa/Cairo\">Africa/Cairo GMT+2:00</option>\n  <option value=\"Africa/Casablanca\">Africa/Casablanca GMT+0:00</option>\n  <option value=\"Africa/Ceuta\">Africa/Ceuta GMT+1:00</option>\n  <option value=\"Africa/Conakry\">Africa/Conakry GMT+0:00</option>\n  <option value=\"Africa/Dakar\">Africa/Dakar GMT+0:00</option>\n  <option value=\"Africa/Dar_es_Salaam\">Africa/Dar_es_Salaam GMT+3:00</option>\n  <option value=\"Africa/Djibouti\">Africa/Djibouti GMT+3:00</option>\n  <option value=\"Africa/Douala\">Africa/Douala GMT+1:00</option>\n  <option value=\"Africa/El_Aaiun\">Africa/El_Aaiun GMT+0:00</option>\n  <option value=\"Africa/Freetown\">Africa/Freetown GMT+0:00</option>\n  <option value=\"Africa/Gaborone\">Africa/Gaborone GMT+2:00</option>\n  <option value=\"Africa/Harare\">Africa/Harare GMT+2:00</option>\n  <option value=\"Africa/Johannesburg\">Africa/Johannesburg GMT+2:00</option>\n<option value=\"Africa/Juba\">Africa/Juba GMT+3:00</option>\n  <option value=\"Africa/Kampala\">Africa/Kampala GMT+3:00</option>\n  <option value=\"Africa/Khartoum\">Africa/Khartoum GMT+2:00</option>\n  <option value=\"Africa/Kigali\">Africa/Kigali GMT+2:00</option>\n  <option value=\"Africa/Kinshasa\">Africa/Kinshasa GMT+1:00</option>\n  <option value=\"Africa/Lagos\">Africa/Lagos GMT+1:00</option>\n  <option value=\"Africa/Libreville\">Africa/Libreville GMT+1:00</option>\n  <option value=\"Africa/Lome\">Africa/Lome GMT+0:00</option>\n  <option value=\"Africa/Luanda\">Africa/Luanda GMT+1:00</option>\n  <option value=\"Africa/Lubumbashi\">Africa/Lubumbashi GMT+2:00</option>\n  <option value=\"Africa/Lusaka\">Africa/Lusaka GMT+2:00</option>\n  <option value=\"Africa/Malabo\">Africa/Malabo GMT+1:00</option>\n  <option value=\"Africa/Maputo\">Africa/Maputo GMT+2:00</option>\n  <option value=\"Africa/Maseru\">Africa/Maseru GMT+2:00</option>\n  <option value=\"Africa/Mbabane\">Africa/Mbabane GMT+2:00</option>\n  <option value=\"Africa/Mogadishu\">Africa/Mogadishu GMT+3:00</option>\n  <option value=\"Africa/Monrovia\">Africa/Monrovia GMT+0:00</option>\n  <option value=\"Africa/Nairobi\">Africa/Nairobi GMT+3:00</option>\n  <option value=\"Africa/Ndjamena\">Africa/Ndjamena GMT+1:00</option>\n  <option value=\"Africa/Niamey\">Africa/Niamey GMT+1:00</option>\n  <option value=\"Africa/Nouakchott\">Africa/Nouakchott GMT+0:00</option>\n  <option value=\"Africa/Ouagadougou\">Africa/Ouagadougou GMT+0:00</option>\n  <option value=\"Africa/Porto-Novo\">Africa/Porto-Novo GMT+1:00</option>\n  <option value=\"Africa/Sao_Tome\">Africa/Sao_Tome GMT+0:00</option>\n  <option value=\"Africa/Timbuktu\">Africa/Timbuktu GMT+0:00</option>\n  <option value=\"Africa/Tripoli\">Africa/Tripoli GMT+2:00</option>\n  <option value=\"Africa/Tunis\">Africa/Tunis GMT+1:00</option>\n  <option value=\"Africa/Windhoek\">Africa/Windhoek GMT+2:00</option>\n  <option value=\"America/Adak\">America/Adak GMT-10:00</option>\n  <option value=\"America/Anchorage\">America/Anchorage GMT-9:00</option>\n  <option value=\"America/Anguilla\">America/Anguilla GMT-4:00</option>\n  <option value=\"America/Antigua\">America/Antigua GMT-4:00</option>\n  <option value=\"America/Araguaina\">America/Araguaina GMT-3:00</option>\n  <option value=\"America/Argentina/Buenos_Aires\">America/Argentina/Buenos_Aires GMT-3:00</option>\n  <option value=\"America/Argentina/Catamarca\">America/Argentina/Catamarca GMT-3:00</option>\n  <option value=\"America/Argentina/ComodRivadavia\">America/Argentina/ComodRivadavia GMT-3:00</option>\n  <option value=\"America/Argentina/Cordoba\">America/Argentina/Cordoba GMT-3:00</option>\n  <option value=\"America/Argentina/Jujuy\">America/Argentina/Jujuy GMT-3:00</option>\n  <option value=\"America/Argentina/La_Rioja\">America/Argentina/La_Rioja GMT-3:00</option>\n  <option value=\"America/Argentina/Mendoza\">America/Argentina/Mendoza GMT-3:00</option>\n  <option value=\"America/Argentina/Rio_Gallegos\">America/Argentina/Rio_Gallegos GMT-3:00</option>\n  <option value=\"America/Argentina/Salta\">America/Argentina/Salta GMT-3:00</option>\n  <option value=\"America/Argentina/San_Juan\">America/Argentina/San_Juan GMT-3:00</option>\n  <option value=\"America/Argentina/San_Luis\">America/Argentina/San_Luis GMT-3:00</option>\n  <option value=\"America/Argentina/Tucuman\">America/Argentina/Tucuman GMT-3:00</option>\n  <option value=\"America/Argentina/Ushuaia\">America/Argentina/Ushuaia GMT-3:00</option>\n  <option value=\"America/Aruba\">America/Aruba GMT-4:00</option>\n  <option value=\"America/Asuncion\">America/Asuncion GMT-4:00</option>\n  <option value=\"America/Atikokan\">America/Atikokan GMT-5:00</option>\n  <option value=\"America/Atka\">America/Atka GMT-10:00</option>\n  <option value=\"America/Bahia\">America/Bahia GMT-3:00</option>\n  <option value=\"America/Bahia_Banderas\">America/Bahia_Banderas GMT-6:00</option>\n  <option value=\"America/Barbados\">America/Barbados GMT-4:00</option>\n  <option value=\"America/Belem\">America/Belem GMT-3:00</option>\n  <option value=\"America/Belize\">America/Belize GMT-6:00</option>\n  <option value=\"America/Blanc-Sablon\">America/Blanc-Sablon GMT-4:00</option>\n  <option value=\"America/Boa_Vista\">America/Boa_Vista GMT-4:00</option>\n  <option value=\"America/Bogota\">America/Bogota GMT-5:00</option>\n  <option value=\"America/Boise\">America/Boise GMT-7:00</option>\n  <option value=\"America/Buenos_Aires\">America/Buenos_Aires GMT-3:00</option>\n  <option value=\"America/Cambridge_Bay\">America/Cambridge_Bay GMT-7:00</option>\n  <option value=\"America/Campo_Grande\">America/Campo_Grande GMT-4:00</option>\n  <option value=\"America/Cancun\">America/Cancun GMT-5:00</option>\n  <option value=\"America/Caracas\">America/Caracas GMT-4:00</option>\n  <option value=\"America/Catamarca\">America/Catamarca GMT-3:00</option>\n  <option value=\"America/Cayenne\">America/Cayenne GMT-3:00</option>\n  <option value=\"America/Cayman\">America/Cayman GMT-5:00</option>\n  <option value=\"America/Chicago\">America/Chicago GMT-6:00</option>\n  <option value=\"America/Chihuahua\">America/Chihuahua GMT-7:00</option>\n  <option value=\"America/Coral_Harbour\">America/Coral_Harbour GMT-5:00</option>\n  <option value=\"America/Cordoba\">America/Cordoba GMT-3:00</option>\n  <option value=\"America/Costa_Rica\">America/Costa_Rica GMT-6:00</option>\n  <option value=\"America/Creston\">America/Creston GMT-7:00</option>\n  <option value=\"America/Cuiaba\">America/Cuiaba GMT-4:00</option>\n  <option value=\"America/Curacao\">America/Curacao GMT-4:00</option>\n  <option value=\"America/Danmarkshavn\">America/Danmarkshavn GMT+0:00</option>\n  <option value=\"America/Dawson\">America/Dawson GMT-8:00</option>\n  <option value=\"America/Dawson_Creek\">America/Dawson_Creek GMT-7:00</option>\n  <option value=\"America/Denver\">America/Denver GMT-7:00</option>\n  <option value=\"America/Detroit\">America/Detroit GMT-5:00</option>\n  <option value=\"America/Dominica\">America/Dominica GMT-4:00</option>\n  <option value=\"America/Edmonton\">America/Edmonton GMT-7:00</option>\n  <option value=\"America/Eirunepe\">America/EirunepeGMT-5:00</option>\n  <option value=\"America/El_Salvador\">America/El_Salvador GMT-6:00</option>\n  <option value=\"America/Ensenada\">America/Ensenada GMT-8:00</option>\n  <option value=\"America/Fort_Nelson\">America/Fort_Nelson GMT-7:00</option>\n  <option value=\"America/Fort_Wayne\">America/Fort_Wayne GMT-5:00</option>\n  <option value=\"America/Fortaleza\">America/Fortaleza GMT-3:00</option>\n  <option value=\"America/Glace_Bay\">America/Glace_Bay GMT-4:00</option>\n  <option value=\"America/Godthab\">America/Godthab GMT-3:00</option>\n  <option value=\"America/Goose_Bay\">America/Goose_Bay GMT-4:00</option>\n  <option value=\"America/Grand_Turk\">America/Grand_Turk GMT-5:00</option>\n  <option value=\"America/Grenada\">America/Grenada GMT-4:00</option>\n  <option value=\"America/Guadeloupe\">America/Guadeloupe GMT-4:00</option>\n <option value=\"America/Guatemala\">America/Guatemala GMT-6:00</option>\n  <option value=\"America/Guayaquil\">America/Guayaquil GMT-5:00</option>\n  <option value=\"America/Guyana\">America/Guyana GMT-4:00</option>\n  <option value=\"America/Halifax\">America/Halifax GMT-4:00</option>\n  <option value=\"America/Havana\">America/Havana GMT-5:00</option>\n  <option value=\"America/Hermosillo\">America/Hermosillo GMT-7:00</option>\n  <option value=\"America/Indiana/Indianapolis\">America/Indiana/Indianapolis GMT-5:00</option>\n  <option value=\"America/Indiana/Knox\">America/Indiana/Knox GMT-6:00</option>\n  <option value=\"America/Indiana/Marengo\">America/Indiana/Marengo GMT-5:00</option>\n  <option value=\"America/Indiana/Petersburg\">America/Indiana/Petersburg GMT-5:00</option>\n  <option value=\"America/Indiana/Tell_City\">America/Indiana/Tell_City GMT-6:00</option>\n  <option value=\"America/Indiana/Vevay\">America/Indiana/Vevay GMT-5:00</option>\n  <option value=\"America/Indiana/Vincennes\">America/Indiana/Vincennes GMT-5:00</option>\n  <option value=\"America/Indiana/Winamac\">America/Indiana/Winamac GMT-5:00</option>\n  <option value=\"America/Indianapolis\">America/Indianapolis GMT-5:00</option>\n  <option value=\"America/Inuvik\">America/Inuvik GMT-7:00</option>\n  <option value=\"America/Iqaluit\">America/Iqaluit GMT-5:00</option>\n  <option value=\"America/Jamaica\">America/Jamaica GMT-5:00</option>\n  <option value=\"America/Jujuy\">America/Jujuy GMT-3:00</option>\n  <option value=\"America/Juneau\">America/Juneau GMT-9:00</option>\n  <option value=\"America/Kentucky/Louisville\">America/Kentucky/Louisville GMT-5:00</option>\n  <option value=\"America/Kentucky/Monticello\">America/Kentucky/Monticello GMT-5:00</option>\n  <option value=\"America/Knox_IN\">America/Knox_INGMT-6:00</option>\n  <option value=\"America/Kralendijk\">America/Kralendijk GMT-4:00</option>\n  <option value=\"America/La_Paz\">America/La_Paz GMT-4:00</option>\n  <optionvalue=\"America/Lima\">America/Lima GMT-5:00</option>\n  <option value=\"America/Los_Angeles\">America/Los_Angeles GMT-8:00</option>\n  <option value=\"America/Louisville\">America/Louisville GMT-5:00</option>\n  <option value=\"America/Lower_Princes\">America/Lower_Princes GMT-4:00</option>\n  <option value=\"America/Maceio\">America/Maceio GMT-3:00</option>\n  <option value=\"America/Managua\">America/Managua GMT-6:00</option>\n  <option value=\"America/Manaus\">America/Manaus GMT-4:00</option>\n  <option value=\"America/Marigot\">America/Marigot GMT-4:00</option>\n  <option value=\"America/Martinique\">America/Martinique GMT-4:00</option>\n  <option value=\"America/Matamoros\">America/Matamoros GMT-6:00</option>\n  <option value=\"America/Mazatlan\">America/Mazatlan GMT-7:00</option>\n  <option value=\"America/Mendoza\">America/Mendoza GMT-3:00</option>\n  <option value=\"America/Menominee\">America/Menominee GMT-6:00</option>\n  <option value=\"America/Merida\">America/Merida GMT-6:00</option>\n  <option value=\"America/Metlakatla\">America/Metlakatla GMT-9:00</option>\n  <option value=\"America/Mexico_City\">America/Mexico_City GMT-6:00</option>\n  <option value=\"America/Miquelon\">America/MiquelonGMT-3:00</option>\n  <option value=\"America/Moncton\">America/Moncton GMT-4:00</option>\n  <option value=\"America/Monterrey\">America/Monterrey GMT-6:00</option>\n  <option value=\"America/Montevideo\">America/Montevideo GMT-3:00</option>\n  <option value=\"America/Montreal\">America/Montreal GMT-5:00</option>\n  <option value=\"America/Montserrat\">America/Montserrat GMT-4:00</option>\n  <option value=\"America/Nassau\">America/Nassau GMT-5:00</option>\n  <option value=\"America/New_York\">America/New_York GMT-5:00</option>\n  <option value=\"America/Nipigon\">America/Nipigon GMT-5:00</option>\n  <option value=\"America/Nome\">America/Nome GMT-9:00</option>\n  <option value=\"America/Noronha\">America/Noronha GMT-2:00</option>\n  <option value=\"America/North_Dakota/Beulah\">America/North_Dakota/Beulah GMT-6:00</option>\n  <option value=\"America/North_Dakota/Center\">America/North_Dakota/Center GMT-6:00</option>\n  <option value=\"America/North_Dakota/New_Salem\">America/North_Dakota/New_Salem GMT-6:00</option>\n  <option value=\"America/Ojinaga\">America/Ojinaga GMT-7:00</option>\n  <option value=\"America/Panama\">America/Panama GMT-5:00</option>\n  <option value=\"America/Pangnirtung\">America/Pangnirtung GMT-5:00</option>\n  <option value=\"America/Paramaribo\">America/Paramaribo GMT-3:00</option>\n  <option value=\"America/Phoenix\">America/Phoenix GMT-7:00</option>\n  <option value=\"America/Port-au-Prince\">America/Port-au-Prince GMT-5:00</option>\n  <option value=\"America/Port_of_Spain\">America/Port_of_Spain GMT-4:00</option>\n  <option value=\"America/Porto_Acre\">America/Porto_Acre GMT-5:00</option>\n  <option value=\"America/Porto_Velho\">America/Porto_Velho GMT-4:00</option>\n  <option value=\"America/Puerto_Rico\">America/Puerto_Rico GMT-4:00</option>\n  <option value=\"America/Punta_Arenas\">America/Punta_Arenas GMT-3:00</option>\n  <option value=\"America/Rainy_River\">America/Rainy_River GMT-6:00</option>\n  <option value=\"America/Rankin_Inlet\">America/Rankin_Inlet GMT-6:00</option>\n  <option value=\"America/Recife\">America/Recife GMT-3:00</option>\n  <option value=\"America/Regina\">America/Regina GMT-6:00</option>\n  <option value=\"America/Resolute\">America/Resolute GMT-6:00</option>\n  <option value=\"America/Rio_Branco\">America/Rio_Branco GMT-5:00</option>\n  <option value=\"America/Rosario\">America/Rosario GMT-3:00</option>\n  <option value=\"America/Santa_Isabel\">America/Santa_Isabel GMT-8:00</option>\n  <option value=\"America/Santarem\">America/Santarem GMT-3:00</option>\n  <option value=\"America/Santiago\">America/Santiago GMT-4:00</option>\n  <option value=\"America/Santo_Domingo\">America/Santo_Domingo GMT-4:00</option>\n  <option value=\"America/Sao_Paulo\">America/Sao_Paulo GMT-3:00</option>\n  <option value=\"America/Scoresbysund\">America/Scoresbysund GMT-1:00</option>\n  <option value=\"America/Shiprock\">America/Shiprock GMT-7:00</option>\n  <option value=\"America/Sitka\">America/Sitka GMT-9:00</option>\n  <option value=\"America/St_Barthelemy\">America/St_Barthelemy GMT-4:00</option>\n  <option value=\"America/St_Johns\">America/St_Johns GMT-4:30</option>\n  <option value=\"America/St_Kitts\">America/St_Kitts GMT-4:00</option>\n  <option value=\"America/St_Lucia\">America/St_Lucia GMT-4:00</option>\n  <option value=\"America/St_Thomas\">America/St_ThomasGMT-4:00</option>\n  <option value=\"America/St_Vincent\">America/St_Vincent GMT-4:00</option>\n  <option value=\"America/Swift_Current\">America/Swift_Current GMT-6:00</option>\n  <option value=\"America/Tegucigalpa\">America/Tegucigalpa GMT-6:00</option>\n  <option value=\"America/Thule\">America/ThuleGMT-4:00</option>\n  <option value=\"America/Thunder_Bay\">America/Thunder_Bay GMT-5:00</option>\n  <option value=\"America/Tijuana\">America/Tijuana GMT-8:00</option>\n  <option value=\"America/Toronto\">America/Toronto GMT-5:00</option>\n  <option value=\"America/Tortola\">America/Tortola GMT-4:00</option>\n  <option value=\"America/Vancouver\">America/Vancouver GMT-8:00</option>\n  <option value=\"America/Virgin\">America/Virgin GMT-4:00</option>\n  <option value=\"America/Whitehorse\">America/Whitehorse GMT-8:00</option>\n  <option value=\"America/Winnipeg\">America/Winnipeg GMT-6:00</option>\n  <option value=\"America/Yakutat\">America/Yakutat GMT-9:00</option>\n  <option value=\"America/Yellowknife\">America/Yellowknife GMT-7:00</option>\n  <optionvalue=\"Antarctica/Casey\">Antarctica/Casey GMT+8:00</option>\n  <option value=\"Antarctica/Davis\">Antarctica/Davis GMT+7:00</option>\n  <option value=\"Antarctica/DumontDUrville\">Antarctica/DumontDUrville GMT+10:00</option>\n  <option value=\"Antarctica/Macquarie\">Antarctica/Macquarie GMT+11:00</option>\n  <option value=\"Antarctica/Mawson\">Antarctica/Mawson GMT+5:00</option>\n  <option value=\"Antarctica/McMurdo\">Antarctica/McMurdo GMT+12:00</option>\n  <option value=\"Antarctica/Palmer\">Antarctica/Palmer GMT-3:00</option>\n  <option value=\"Antarctica/Rothera\">Antarctica/Rothera GMT-3:00</option>\n  <option value=\"Antarctica/South_Pole\">Antarctica/South_Pole GMT+12:00</option>\n  <option value=\"Antarctica/Syowa\">Antarctica/Syowa GMT+3:00</option>\n  <option value=\"Antarctica/Troll\">Antarctica/Troll GMT+0:00</option>\n  <option value=\"Antarctica/Vostok\">Antarctica/Vostok GMT+6:00</option>\n  <option value=\"Arctic/Longyearbyen\">Arctic/Longyearbyen GMT+1:00</option>\n  <option value=\"Asia/Aden\">Asia/Aden GMT+3:00</option>\n  <option value=\"Asia/Almaty\">Asia/Almaty GMT+6:00</option>\n  <option value=\"Asia/Amman\">Asia/Amman GMT+2:00</option>\n  <option value=\"Asia/Anadyr\">Asia/Anadyr GMT+12:00</option>\n  <option value=\"Asia/Aqtau\">Asia/Aqtau GMT+5:00</option>\n  <option value=\"Asia/Aqtobe\">Asia/Aqtobe GMT+5:00</option>\n  <option value=\"Asia/Ashgabat\">Asia/Ashgabat GMT+5:00</option>\n  <option value=\"Asia/Ashkhabad\">Asia/Ashkhabad GMT+5:00</option>\n  <option value=\"Asia/Atyrau\">Asia/Atyrau GMT+5:00</option>\n  <option value=\"Asia/Baghdad\">Asia/Baghdad GMT+3:00</option>\n  <option value=\"Asia/Bahrain\">Asia/Bahrain GMT+3:00</option>\n  <option value=\"Asia/Baku\">Asia/Baku GMT+4:00</option>\n  <option value=\"Asia/Bangkok\">Asia/Bangkok GMT+7:00</option>\n  <option value=\"Asia/Barnaul\">Asia/Barnaul GMT+7:00</option>\n  <option value=\"Asia/Beirut\">Asia/Beirut GMT+2:00</option>\n  <option value=\"Asia/Bishkek\">Asia/Bishkek GMT+6:00</option>\n  <option value=\"Asia/Brunei\">Asia/Brunei GMT+8:00</option>\n  <option value=\"Asia/Calcutta\">Asia/Calcutta GMT+5:30</option>\n  <optionvalue=\"Asia/Chita\">Asia/Chita GMT+9:00</option>\n  <option value=\"Asia/Choibalsan\">Asia/Choibalsan GMT+8:00</option>\n  <option value=\"Asia/Chongqing\">Asia/Chongqing GMT+8:00</option>\n  <option value=\"Asia/Chungking\">Asia/Chungking GMT+8:00</option>\n  <option value=\"Asia/Colombo\">Asia/Colombo GMT+5:30</option>\n  <option value=\"Asia/Dacca\">Asia/Dacca GMT+6:00</option>\n  <option value=\"Asia/Damascus\">Asia/Damascus GMT+2:00</option>\n  <option value=\"Asia/Dhaka\">Asia/Dhaka GMT+6:00</option>\n  <option value=\"Asia/Dili\">Asia/Dili GMT+9:00</option>\n  <option value=\"Asia/Dubai\">Asia/Dubai GMT+4:00</option>\n  <option value=\"Asia/Dushanbe\">Asia/Dushanbe GMT+5:00</option>\n  <option value=\"Asia/Famagusta\">Asia/Famagusta GMT+2:00</option>\n  <option value=\"Asia/Gaza\">Asia/Gaza GMT+2:00</option>\n  <option value=\"Asia/Harbin\">Asia/Harbin GMT+8:00</option>\n  <option value=\"Asia/Hebron\">Asia/Hebron GMT+2:00</option>\n  <option value=\"Asia/Ho_Chi_Minh\">Asia/Ho_Chi_Minh GMT+7:00</option>\n  <option value=\"Asia/Hong_Kong\">Asia/Hong_Kong GMT+8:00</option>\n  <option value=\"Asia/Hovd\">Asia/Hovd GMT+7:00</option>\n  <option value=\"Asia/Irkutsk\">Asia/Irkutsk GMT+8:00</option>\n  <option value=\"Asia/Istanbul\">Asia/Istanbul GMT+3:00</option>\n  <option value=\"Asia/Jakarta\">Asia/Jakarta GMT+7:00</option>\n  <option value=\"Asia/Jayapura\">Asia/Jayapura GMT+9:00</option>\n  <option value=\"Asia/Jerusalem\">Asia/Jerusalem GMT+2:00</option>\n  <option value=\"Asia/Kabul\">Asia/Kabul GMT+4:30</option>\n  <option value=\"Asia/Kamchatka\">Asia/Kamchatka GMT+12:00</option>\n  <option value=\"Asia/Karachi\">Asia/Karachi GMT+5:00</option>\n  <option value=\"Asia/Kashgar\">Asia/Kashgar GMT+6:00</option>\n  <option value=\"Asia/Kathmandu\">Asia/Kathmandu GMT+5:45</option>\n  <option value=\"Asia/Katmandu\">Asia/Katmandu GMT+5:45</option>\n  <option value=\"Asia/Khandyga\">Asia/Khandyga GMT+9:00</option>\n  <option value=\"Asia/Kolkata\">Asia/Kolkata GMT+5:30</option>\n  <option value=\"Asia/Krasnoyarsk\">Asia/KrasnoyarskGMT+7:00</option>\n  <option value=\"Asia/Kuala_Lumpur\">Asia/Kuala_Lumpur GMT+8:00</option>\n  <option value=\"Asia/Kuching\">Asia/Kuching GMT+8:00</option>\n  <option value=\"Asia/Kuwait\">Asia/Kuwait GMT+3:00</option>\n  <option value=\"Asia/Macao\">Asia/Macao GMT+8:00</option>\n  <option value=\"Asia/Macau\">Asia/Macau GMT+8:00</option>\n  <option value=\"Asia/Magadan\">Asia/Magadan GMT+11:00</option>\n  <option value=\"Asia/Makassar\">Asia/Makassar GMT+8:00</option>\n  <option value=\"Asia/Manila\">Asia/Manila GMT+8:00</option>\n  <option value=\"Asia/Muscat\">Asia/Muscat GMT+4:00</option>\n  <option value=\"Asia/Nicosia\">Asia/Nicosia GMT+2:00</option>\n<option value=\"Asia/Novokuznetsk\">Asia/Novokuznetsk GMT+7:00</option>\n  <option value=\"Asia/Novosibirsk\">Asia/Novosibirsk GMT+7:00</option>\n  <option value=\"Asia/Omsk\">Asia/Omsk GMT+6:00</option>\n  <option value=\"Asia/Oral\">Asia/Oral GMT+5:00</option>\n  <option value=\"Asia/Phnom_Penh\">Asia/Phnom_Penh GMT+7:00</option>\n  <option value=\"Asia/Pontianak\">Asia/Pontianak GMT+7:00</option>\n  <option value=\"Asia/Pyongyang\">Asia/Pyongyang GMT+9:00</option>\n  <option value=\"Asia/Qatar\">Asia/Qatar GMT+3:00</option>\n  <option value=\"Asia/Qostanay\">Asia/Qostanay GMT+6:00</option>\n  <option value=\"Asia/Qyzylorda\">Asia/Qyzylorda GMT+5:00</option>\n  <option value=\"Asia/Rangoon\">Asia/Rangoon GMT+6:30</option>\n  <option value=\"Asia/Riyadh\">Asia/Riyadh GMT+3:00</option>\n  <option value=\"Asia/Saigon\">Asia/Saigon GMT+7:00</option>\n  <option value=\"Asia/Sakhalin\">Asia/Sakhalin GMT+11:00</option>\n  <option value=\"Asia/Samarkand\">Asia/Samarkand GMT+5:00</option>\n  <option value=\"Asia/Seoul\">Asia/Seoul GMT+9:00</option>\n  <option value=\"Asia/Shanghai\">Asia/Shanghai GMT+8:00</option>\n  <option value=\"Asia/Singapore\">Asia/Singapore GMT+8:00</option>\n  <option value=\"Asia/Srednekolymsk\">Asia/Srednekolymsk GMT+11:00</option>\n  <option value=\"Asia/Taipei\">Asia/Taipei GMT+8:00</option>\n  <option value=\"Asia/Tashkent\">Asia/Tashkent GMT+5:00</option>\n  <option value=\"Asia/Tbilisi\">Asia/Tbilisi GMT+4:00</option>\n  <option value=\"Asia/Tehran\">Asia/Tehran GMT+3:30</option>\n  <option value=\"Asia/Tel_Aviv\">Asia/Tel_Aviv GMT+2:00</option>\n  <option value=\"Asia/Thimbu\">Asia/Thimbu GMT+6:00</option>\n  <option value=\"Asia/Thimphu\">Asia/Thimphu GMT+6:00</option>\n  <option value=\"Asia/Tokyo\">Asia/Tokyo GMT+9:00</option>\n  <option value=\"Asia/Tomsk\">Asia/Tomsk GMT+7:00</option>\n  <option value=\"Asia/Ujung_Pandang\">Asia/Ujung_Pandang GMT+8:00</option>\n  <option value=\"Asia/Ulaanbaatar\">Asia/Ulaanbaatar GMT+8:00</option>\n  <option value=\"Asia/Ulan_Bator\">Asia/Ulan_Bator GMT+8:00</option>\n  <option value=\"Asia/Urumqi\">Asia/Urumqi GMT+6:00</option>\n  <optionvalue=\"Asia/Ust-Nera\">Asia/Ust-Nera GMT+10:00</option>\n  <option value=\"Asia/Vientiane\">Asia/Vientiane GMT+7:00</option>\n  <option value=\"Asia/Vladivostok\">Asia/Vladivostok GMT+10:00</option>\n  <option value=\"Asia/Yakutsk\">Asia/Yakutsk GMT+9:00</option>\n  <option value=\"Asia/Yangon\">Asia/Yangon GMT+6:30</option>\n  <option value=\"Asia/Yekaterinburg\">Asia/Yekaterinburg GMT+5:00</option>\n  <option value=\"Asia/Yerevan\">Asia/Yerevan GMT+4:00</option>\n  <option value=\"Atlantic/Azores\">Atlantic/Azores GMT-1:00</option>\n  <option value=\"Atlantic/Bermuda\">Atlantic/Bermuda GMT-4:00</option>\n  <option value=\"Atlantic/Canary\">Atlantic/Canary GMT+0:00</option>\n  <option value=\"Atlantic/Cape_Verde\">Atlantic/Cape_Verde GMT-1:00</option>\n <option value=\"Atlantic/Faeroe\">Atlantic/Faeroe GMT+0:00</option>\n  <option value=\"Atlantic/Faroe\">Atlantic/Faroe GMT+0:00</option>\n  <option value=\"Atlantic/Jan_Mayen\">Atlantic/Jan_Mayen GMT+1:00</option>\n  <option value=\"Atlantic/Madeira\">Atlantic/MadeiraGMT+0:00</option>\n  <option value=\"Atlantic/Reykjavik\">Atlantic/Reykjavik GMT+0:00</option>\n  <option value=\"Atlantic/South_Georgia\">Atlantic/South_Georgia GMT-2:00</option>\n  <option value=\"Atlantic/St_Helena\">Atlantic/St_Helena GMT+0:00</option>\n  <option value=\"Atlantic/Stanley\">Atlantic/Stanley GMT-3:00</option>\n  <option value=\"Australia/ACT\">Australia/ACT GMT+10:00</option>\n  <option value=\"Australia/Adelaide\">Australia/Adelaide GMT+9:30</option>\n  <option value=\"Australia/Brisbane\">Australia/Brisbane GMT+10:00</option>\n  <option value=\"Australia/Broken_Hill\">Australia/Broken_Hill GMT+9:30</option>\n  <option value=\"Australia/Canberra\">Australia/Canberra GMT+10:00</option>\n  <option value=\"Australia/Currie\">Australia/Currie GMT+10:00</option>\n  <option value=\"Australia/Darwin\">Australia/Darwin GMT+9:30</option>\n  <option value=\"Australia/Eucla\">Australia/Eucla GMT+8:45</option>\n  <option value=\"Australia/Hobart\">Australia/Hobart GMT+10:00</option>\n  <option value=\"Australia/LHI\">Australia/LHI GMT+10:30</option>\n  <option value=\"Australia/Lindeman\">Australia/Lindeman GMT+10:00</option>\n  <option value=\"Australia/Lord_Howe\">Australia/Lord_Howe GMT+10:30</option>\n  <option value=\"Australia/Melbourne\">Australia/Melbourne GMT+10:00</option>\n  <option value=\"Australia/NSW\">Australia/NSW GMT+10:00</option>\n  <option value=\"Australia/North\">Australia/North GMT+9:30</option>\n  <option value=\"Australia/Perth\">Australia/Perth GMT+8:00</option>\n  <option value=\"Australia/Queensland\">Australia/Queensland GMT+10:00</option>\n  <option value=\"Australia/South\">Australia/South GMT+9:30</option>\n  <option value=\"Australia/Sydney\">Australia/Sydney GMT+10:00</option>\n  <option value=\"Australia/Tasmania\">Australia/Tasmania GMT+10:00</option>\n  <option value=\"Australia/Victoria\">Australia/Victoria GMT+10:00</option>\n  <option value=\"Australia/West\">Australia/West GMT+8:00</option>\n  <option value=\"Australia/Yancowinna\">Australia/Yancowinna GMT+9:30</option>\n  <option value=\"Brazil/Acre\">Brazil/Acre GMT-5:00</option>\n  <option value=\"Brazil/DeNoronha\">Brazil/DeNoronha GMT-2:00</option>\n  <option value=\"Brazil/East\">Brazil/East GMT-3:00</option>\n  <option value=\"Brazil/West\">Brazil/West GMT-4:00</option>\n  <option value=\"CET\">CET GMT+1:00</option>\n  <option value=\"CST6CDT\">CST6CDT GMT-6:00</option>\n  <option value=\"Canada/Atlantic\">Canada/Atlantic GMT-4:00</option>\n  <option value=\"Canada/Central\">Canada/Central GMT-6:00</option>\n  <option value=\"Canada/Eastern\">Canada/Eastern GMT-5:00</option>\n  <option value=\"Canada/Mountain\">Canada/Mountain GMT-7:00</option>\n  <option value=\"Canada/Newfoundland\">Canada/Newfoundland GMT-4:30</option>\n  <option value=\"Canada/Pacific\">Canada/Pacific GMT-8:00</option>\n  <option value=\"Canada/Saskatchewan\">Canada/Saskatchewan GMT-6:00</option>\n  <option value=\"Canada/Yukon\">Canada/Yukon GMT-8:00</option>\n  <option value=\"Chile/Continental\">Chile/Continental GMT-4:00</option>\n  <option value=\"Chile/EasterIsland\">Chile/EasterIsland GMT-6:00</option>\n  <option value=\"Cuba\">Cuba GMT-5:00</option>\n  <option value=\"EET\">EET GMT+2:00</option>\n  <optionvalue=\"EST5EDT\">EST5EDT GMT-5:00</option>\n  <option value=\"Egypt\">Egypt GMT+2:00</option>\n  <option value=\"Eire\">Eire GMT+0:00</option>\n  <option value=\"Etc/GMT\">Etc/GMT GMT+0:00</option>\n  <option value=\"Etc/GMT+0\">Etc/GMT+0 GMT+0:00</option>\n  <option value=\"Etc/GMT+1\">Etc/GMT+1 GMT-1:00</option>\n  <option value=\"Etc/GMT+10\">Etc/GMT+10 GMT-10:00</option>\n  <option value=\"Etc/GMT+11\">Etc/GMT+11 GMT-11:00</option>\n  <option value=\"Etc/GMT+12\">Etc/GMT+12 GMT-12:00</option>\n  <option value=\"Etc/GMT+2\">Etc/GMT+2 GMT-2:00</option>\n  <option value=\"Etc/GMT+3\">Etc/GMT+3 GMT-3:00</option>\n  <option value=\"Etc/GMT+4\">Etc/GMT+4 GMT-4:00</option>\n  <option value=\"Etc/GMT+5\">Etc/GMT+5 GMT-5:00</option>\n  <option value=\"Etc/GMT+6\">Etc/GMT+6 GMT-6:00</option>\n  <option value=\"Etc/GMT+7\">Etc/GMT+7 GMT-7:00</option>\n  <option value=\"Etc/GMT+8\">Etc/GMT+8 GMT-8:00</option>\n <option value=\"Etc/GMT+9\">Etc/GMT+9 GMT-9:00</option>\n  <option value=\"Etc/GMT-0\">Etc/GMT-0 GMT+0:00</option>\n  <option value=\"Etc/GMT-1\">Etc/GMT-1 GMT+1:00</option>\n  <option value=\"Etc/GMT-10\">Etc/GMT-10 GMT+10:00</option>\n  <option value=\"Etc/GMT-11\">Etc/GMT-11 GMT+11:00</option>\n  <option value=\"Etc/GMT-12\">Etc/GMT-12 GMT+12:00</option>\n  <option value=\"Etc/GMT-13\">Etc/GMT-13 GMT+13:00</option>\n  <option value=\"Etc/GMT-14\">Etc/GMT-14 GMT+14:00</option>\n  <option value=\"Etc/GMT-2\">Etc/GMT-2 GMT+2:00</option>\n  <option value=\"Etc/GMT-3\">Etc/GMT-3 GMT+3:00</option>\n  <option value=\"Etc/GMT-4\">Etc/GMT-4 GMT+4:00</option>\n  <option value=\"Etc/GMT-5\">Etc/GMT-5 GMT+5:00</option>\n  <option value=\"Etc/GMT-6\">Etc/GMT-6 GMT+6:00</option>\n  <option value=\"Etc/GMT-7\">Etc/GMT-7 GMT+7:00</option>\n  <option value=\"Etc/GMT-8\">Etc/GMT-8 GMT+8:00</option>\n  <option value=\"Etc/GMT-9\">Etc/GMT-9 GMT+9:00</option>\n  <option value=\"Etc/GMT0\">Etc/GMT0 GMT+0:00</option>\n  <option value=\"Etc/Greenwich\">Etc/Greenwich GMT+0:00</option>\n  <option value=\"Etc/UCT\">Etc/UCT GMT+0:00</option>\n  <option value=\"Etc/UTC\">Etc/UTC GMT+0:00</option>\n  <option value=\"Etc/Universal\">Etc/Universal GMT+0:00</option>\n  <option value=\"Etc/Zulu\">Etc/Zulu GMT+0:00</option>\n  <option value=\"Europe/Amsterdam\">Europe/Amsterdam GMT+1:00</option>\n  <option value=\"Europe/Andorra\">Europe/Andorra GMT+1:00</option>\n  <option value=\"Europe/Astrakhan\">Europe/Astrakhan GMT+4:00</option>\n  <option value=\"Europe/Athens\">Europe/Athens GMT+2:00</option>\n  <option value=\"Europe/Belfast\">Europe/Belfast GMT+0:00</option>\n  <option value=\"Europe/Belgrade\">Europe/Belgrade GMT+1:00</option>\n  <option value=\"Europe/Berlin\">Europe/Berlin GMT+1:00</option>\n  <option value=\"Europe/Bratislava\">Europe/Bratislava GMT+1:00</option>\n  <option value=\"Europe/Brussels\">Europe/Brussels GMT+1:00</option>\n  <option value=\"Europe/Bucharest\">Europe/Bucharest GMT+2:00</option>\n  <option value=\"Europe/Budapest\">Europe/Budapest GMT+1:00</option>\n  <option value=\"Europe/Busingen\">Europe/Busingen GMT+1:00</option>\n  <option value=\"Europe/Chisinau\">Europe/Chisinau GMT+2:00</option>\n  <option value=\"Europe/Copenhagen\">Europe/Copenhagen GMT+1:00</option>\n  <option value=\"Europe/Dublin\">Europe/Dublin GMT+0:00</option>\n  <option value=\"Europe/Gibraltar\">Europe/Gibraltar GMT+1:00</option>\n  <option value=\"Europe/Guernsey\">Europe/Guernsey GMT+0:00</option>\n  <option value=\"Europe/Helsinki\">Europe/Helsinki GMT+2:00</option>\n  <option value=\"Europe/Isle_of_Man\">Europe/Isle_of_Man GMT+0:00</option>\n  <option value=\"Europe/Istanbul\">Europe/Istanbul GMT+3:00</option>\n  <option value=\"Europe/Jersey\">Europe/Jersey GMT+0:00</option>\n  <option value=\"Europe/Kaliningrad\">Europe/Kaliningrad GMT+2:00</option>\n  <option value=\"Europe/Kiev\">Europe/Kiev GMT+2:00</option>\n  <option value=\"Europe/Kirov\">Europe/Kirov GMT+3:00</option>\n  <option value=\"Europe/Lisbon\">Europe/Lisbon GMT+0:00</option>\n  <option value=\"Europe/Ljubljana\">Europe/Ljubljana GMT+1:00</option>\n  <option value=\"Europe/London\">Europe/London GMT+0:00</option>\n  <option value=\"Europe/Luxembourg\">Europe/Luxembourg GMT+1:00</option>\n  <option value=\"Europe/Madrid\">Europe/Madrid GMT+1:00</option>\n  <option value=\"Europe/Malta\">Europe/Malta GMT+1:00</option>\n  <option value=\"Europe/Mariehamn\">Europe/Mariehamn GMT+2:00</option>\n  <option value=\"Europe/Minsk\">Europe/Minsk GMT+3:00</option>\n  <option value=\"Europe/Monaco\">Europe/Monaco GMT+1:00</option>\n  <option value=\"Europe/Moscow\">Europe/Moscow GMT+3:00</option>\n  <option value=\"Europe/Nicosia\">Europe/Nicosia GMT+2:00</option>\n  <option value=\"Europe/Oslo\">Europe/Oslo GMT+1:00</option>\n  <option value=\"Europe/Paris\">Europe/Paris GMT+1:00</option>\n  <option value=\"Europe/Podgorica\">Europe/Podgorica GMT+1:00</option>\n<optionvalue=\"Europe/Prague\">Europe/Prague GMT+1:00</option>\n  <option value=\"Europe/Riga\">Europe/Riga GMT+2:00</option>\n  <option value=\"Europe/Rome\">Europe/Rome GMT+1:00</option>\n  <option value=\"Europe/Samara\">Europe/Samara GMT+4:00</option>\n  <option value=\"Europe/San_Marino\">Europe/San_MarinoGMT+1:00</option>\n  <option value=\"Europe/Sarajevo\">Europe/Sarajevo GMT+1:00</option>\n  <option value=\"Europe/Saratov\">Europe/Saratov GMT+4:00</option>\n  <option value=\"Europe/Simferopol\">Europe/Simferopol GMT+3:00</option>\n  <option value=\"Europe/Skopje\">Europe/Skopje GMT+1:00</option>\n  <option value=\"Europe/Sofia\">Europe/Sofia GMT+2:00</option>\n  <option value=\"Europe/Stockholm\">Europe/Stockholm GMT+1:00</option>\n  <option value=\"Europe/Tallinn\">Europe/Tallinn GMT+2:00</option>\n  <option value=\"Europe/Tirane\">Europe/Tirane GMT+1:00</option>\n  <option value=\"Europe/Tiraspol\">Europe/Tiraspol GMT+2:00</option>\n  <option value=\"Europe/Ulyanovsk\">Europe/Ulyanovsk GMT+4:00</option>\n  <option value=\"Europe/Uzhgorod\">Europe/Uzhgorod GMT+2:00</option>\n  <option value=\"Europe/Vaduz\">Europe/Vaduz GMT+1:00</option>\n  <option value=\"Europe/Vatican\">Europe/Vatican GMT+1:00</option>\n  <option value=\"Europe/Vienna\">Europe/Vienna GMT+1:00</option>\n  <option value=\"Europe/Vilnius\">Europe/Vilnius GMT+2:00</option>\n  <option value=\"Europe/Volgograd\">Europe/Volgograd GMT+4:00</option>\n  <option value=\"Europe/Warsaw\">Europe/Warsaw GMT+1:00</option>\n  <option value=\"Europe/Zagreb\">Europe/Zagreb GMT+1:00</option>\n  <option value=\"Europe/Zaporozhye\">Europe/Zaporozhye GMT+2:00</option>\n  <option value=\"Europe/Zurich\">Europe/Zurich GMT+1:00</option>\n  <option value=\"GB\">GB GMT+0:00</option>\n  <option value=\"GB-Eire\">GB-Eire GMT+0:00</option>\n  <option value=\"GMT\">GMT GMT+0:00</option>\n  <option value=\"GMT0\">GMT0 GMT+0:00</option>\n  <option value=\"Greenwich\">Greenwich GMT+0:00</option>\n  <option value=\"Hongkong\">Hongkong GMT+8:00</option>\n  <option value=\"Iceland\">Iceland GMT+0:00</option>\n  <option value=\"Indian/Antananarivo\">Indian/AntananarivoGMT+3:00</option>\n  <option value=\"Indian/Chagos\">Indian/Chagos GMT+6:00</option>\n  <option value=\"Indian/Christmas\">Indian/Christmas GMT+7:00</option>\n  <option value=\"Indian/Cocos\">Indian/Cocos GMT+6:30</option>\n  <option value=\"Indian/Comoro\">Indian/Comoro GMT+3:00</option>\n  <option value=\"Indian/Kerguelen\">Indian/Kerguelen GMT+5:00</option>\n<option value=\"Indian/Mahe\">Indian/Mahe GMT+4:00</option>\n  <option value=\"Indian/Maldives\">Indian/Maldives GMT+5:00</option>\n  <option value=\"Indian/Mauritius\">Indian/Mauritius GMT+4:00</option>\n  <option value=\"Indian/Mayotte\">Indian/Mayotte GMT+3:00</option>\n  <option value=\"Indian/Reunion\">Indian/Reunion GMT+4:00</option>\n  <option value=\"Iran\">Iran GMT+3:30</option>\n  <option value=\"Israel\">Israel GMT+2:00</option>\n  <option value=\"Jamaica\">Jamaica GMT-5:00</option>\n  <option value=\"Japan\">Japan GMT+9:00</option>\n  <option value=\"Kwajalein\">Kwajalein GMT+12:00</option>\n  <option value=\"Libya\">Libya GMT+2:00</option>\n  <option value=\"MET\">MET GMT+1:00</option>\n  <option value=\"MST7MDT\">MST7MDT GMT-7:00</option>\n  <option value=\"Mexico/BajaNorte\">Mexico/BajaNorte GMT-8:00</option>\n  <option value=\"Mexico/BajaSur\">Mexico/BajaSur GMT-7:00</option>\n  <option value=\"Mexico/General\">Mexico/General GMT-6:00</option>\n  <option value=\"NZ\">NZ GMT+12:00</option>\n  <option value=\"NZ-CHAT\">NZ-CHAT GMT+12:45</option>\n  <option value=\"Navajo\">Navajo GMT-7:00</option>\n  <option value=\"PRC\">PRC GMT+8:00</option>\n  <option value=\"PST8PDT\">PST8PDT GMT-8:00</option>\n  <option value=\"Pacific/Apia\">Pacific/Apia GMT+13:00</option>\n  <option value=\"Pacific/Auckland\">Pacific/Auckland GMT+12:00</option>\n  <option value=\"Pacific/Bougainville\">Pacific/Bougainville GMT+11:00</option>\n  <option value=\"Pacific/Chatham\">Pacific/Chatham GMT+12:45</option>\n  <option value=\"Pacific/Chuuk\">Pacific/Chuuk GMT+10:00</option>\n  <option value=\"Pacific/Easter\">Pacific/Easter GMT-6:00</option>\n  <option value=\"Pacific/Efate\">Pacific/Efate GMT+11:00</option>\n  <option value=\"Pacific/Enderbury\">Pacific/Enderbury GMT+13:00</option>\n  <option value=\"Pacific/Fakaofo\">Pacific/Fakaofo GMT+13:00</option>\n  <option value=\"Pacific/Fiji\">Pacific/Fiji GMT+12:00</option>\n  <option value=\"Pacific/Funafuti\">Pacific/Funafuti GMT+12:00</option>\n  <option value=\"Pacific/Galapagos\">Pacific/Galapagos GMT-6:00</option>\n  <option value=\"Pacific/Gambier\">Pacific/Gambier GMT-9:00</option>\n  <option value=\"Pacific/Guadalcanal\">Pacific/Guadalcanal GMT+11:00</option>\n  <option value=\"Pacific/Guam\">Pacific/Guam GMT+10:00</option>\n  <option value=\"Pacific/Honolulu\">Pacific/Honolulu GMT-10:00</option>\n  <option value=\"Pacific/Johnston\">Pacific/Johnston GMT-10:00</option>\n  <option value=\"Pacific/Kiritimati\">Pacific/Kiritimati GMT+14:00</option>\n  <option value=\"Pacific/Kosrae\">Pacific/Kosrae GMT+11:00</option>\n  <option value=\"Pacific/Kwajalein\">Pacific/Kwajalein GMT+12:00</option>\n  <option value=\"Pacific/Majuro\">Pacific/Majuro GMT+12:00</option>\n  <option value=\"Pacific/Marquesas\">Pacific/Marquesas GMT-10:30</option>\n  <option value=\"Pacific/Midway\">Pacific/Midway GMT-11:00</option>\n  <option value=\"Pacific/Nauru\">Pacific/Nauru GMT+12:00</option>\n  <option value=\"Pacific/Niue\">Pacific/Niue GMT-11:00</option>\n  <option value=\"Pacific/Norfolk\">Pacific/Norfolk GMT+11:00</option>\n  <option value=\"Pacific/Noumea\">Pacific/NoumeaGMT+11:00</option>\n  <option value=\"Pacific/Pago_Pago\">Pacific/Pago_Pago GMT-11:00</option>\n  <option value=\"Pacific/Palau\">Pacific/Palau GMT+9:00</option>\n  <option value=\"Pacific/Pitcairn\">Pacific/Pitcairn GMT-8:00</option>\n  <option value=\"Pacific/Pohnpei\">Pacific/Pohnpei GMT+11:00</option>\n  <option value=\"Pacific/Ponape\">Pacific/Ponape GMT+11:00</option>\n  <option value=\"Pacific/Port_Moresby\">Pacific/Port_Moresby GMT+10:00</option>\n  <option value=\"Pacific/Rarotonga\">Pacific/Rarotonga GMT-10:00</option>\n  <option value=\"Pacific/Saipan\">Pacific/Saipan GMT+10:00</option>\n  <option value=\"Pacific/Samoa\">Pacific/Samoa GMT-11:00</option>\n  <option value=\"Pacific/Tahiti\">Pacific/Tahiti GMT-10:00</option>\n  <option value=\"Pacific/Tarawa\">Pacific/Tarawa GMT+12:00</option>\n  <option value=\"Pacific/Tongatapu\">Pacific/Tongatapu GMT+13:00</option>\n  <option value=\"Pacific/Truk\">Pacific/Truk GMT+10:00</option>\n  <option value=\"Pacific/Wake\">Pacific/Wake GMT+12:00</option>\n  <option value=\"Pacific/Wallis\">Pacific/Wallis GMT+12:00</option>\n  <option value=\"Pacific/Yap\">Pacific/Yap GMT+10:00</option>\n  <option value=\"Poland\">Poland GMT+1:00</option>\n  <option value=\"Portugal\">Portugal GMT+0:00</option>\n  <option value=\"ROK\">ROK GMT+9:00</option>\n  <option value=\"Singapore\">Singapore GMT+8:00</option>\n  <option value=\"SystemV/AST4\">SystemV/AST4 GMT-4:00</option>\n  <option value=\"SystemV/AST4ADT\">SystemV/AST4ADT GMT-4:00</option>\n  <option value=\"SystemV/CST6\">SystemV/CST6 GMT-6:00</option>\n  <option value=\"SystemV/CST6CDT\">SystemV/CST6CDT GMT-6:00</option>\n  <option value=\"SystemV/EST5\">SystemV/EST5 GMT-5:00</option>\n  <option value=\"SystemV/EST5EDT\">SystemV/EST5EDT GMT-5:00</option>\n  <option value=\"SystemV/HST10\">SystemV/HST10 GMT-10:00</option>\n  <option value=\"SystemV/MST7\">SystemV/MST7 GMT-7:00</option>\n  <option value=\"SystemV/MST7MDT\">SystemV/MST7MDT GMT-7:00</option>\n  <option value=\"SystemV/PST8\">SystemV/PST8 GMT-8:00</option>\n  <option value=\"SystemV/PST8PDT\">SystemV/PST8PDT GMT-8:00</option>\n  <option value=\"SystemV/YST9\">SystemV/YST9 GMT-9:00</option>\n  <option value=\"SystemV/YST9YDT\">SystemV/YST9YDT GMT-9:00</option>\n  <option value=\"Turkey\">Turkey GMT+3:00</option>\n  <option value=\"UCT\">UCT GMT+0:00</option>\n  <option value=\"US/Alaska\">US/Alaska GMT-9:00</option>\n  <option value=\"US/Aleutian\">US/Aleutian GMT-10:00</option>\n  <option value=\"US/Arizona\">US/Arizona GMT-7:00</option>\n  <option value=\"US/Central\">US/Central GMT-6:00</option>\n  <option value=\"US/East-Indiana\">US/East-Indiana GMT-5:00</option>\n  <option value=\"US/Eastern\">US/Eastern GMT-5:00</option>\n  <option value=\"US/Hawaii\">US/Hawaii GMT-10:00</option>\n  <option value=\"US/Indiana-Starke\">US/Indiana-Starke GMT-6:00</option>\n  <option value=\"US/Michigan\">US/Michigan GMT-5:00</option>\n  <option value=\"US/Mountain\">US/Mountain GMT-7:00</option>\n  <option value=\"US/Pacific\">US/Pacific GMT-8:00</option>\n  <option value=\"US/Pacific-New\">US/Pacific-New GMT-8:00</option>\n  <option value=\"US/Samoa\">US/Samoa GMT-11:00</option>\n  <option value=\"UTC\">UTC GMT+0:00</option>\n</select>\n<script>\nfunction updateTZ(tz) {\nsend({payload:tz});\n}\n</script>","output":"yaml","x":320,"y":1320,"wires":[[]]},{"id":"1ec18b38.d2b385","type":"ui_template","z":"52d6f93.95a8b08","d":true,"group":"dd8c727e.a07db","name":"","order":1,"width":0,"height":0,"format":"<div><select  id=\"timezone\" name=\"timezone\" ng-model=\"msg.payload\" ng-change=\"send(msg)\" >\n  <option value=\"US/Alaska\">US/Alaska GMT-9:00</option>\n  <option value=\"US/Aleutian\">US/Aleutian GMT-10:00</option>\n  <option value=\"US/Arizona\">US/Arizona GMT-7:00</option>\n  <option value=\"US/Central\">US/Central GMT-6:00</option>\n  <option value=\"US/East-Indiana\">US/East-Indiana GMT-5:00</option>\n  <option value=\"US/Eastern\">US/Eastern GMT-5:00</option>\n  <option value=\"US/Hawaii\">US/Hawaii GMT-10:00</option>\n  <option value=\"US/Indiana-Starke\">US/Indiana-Starke GMT-6:00</option>\n  <optionvalue=\"US/Michigan\">US/Michigan GMT-5:00</option>\n  <option value=\"US/Mountain\">US/Mountain GMT-7:00</option>\n  <option value=\"US/Pacific\">US/Pacific GMT-8:00</option>\n  <option value=\"US/Pacific-New\">US/Pacific-New GMT-8:00</option>\n  <option value=\"US/Samoa\">US/Samoa GMT-11:00</option>\n  <option value=\"Africa/Johannesburg\">Africa/Johannesburg GMT+2:00</option>\n  <option value=\"America/Adak\">America/Adak GMT-10:00</option>\n  <option value=\"America/Anchorage\">America/Anchorage GMT-9:00</option>\n  <option value=\"America/Anguilla\">America/Anguilla GMT-4:00</option>\n  <option value=\"America/Argentina/Buenos_Aires\">America/Argentina/Buenos_Aires GMT-3:00</option>\n  <option value=\"America/Boise\">America/Boise GMT-7:00</option>\n  <option value=\"America/Buenos_Aires\">America/Buenos_Aires GMT-3:00</option>\n  <option value=\"America/Chicago\">America/Chicago GMT-6:00</option>\n  <option value=\"America/Denver\">America/Denver GMT-7:00</option>\n  <option value=\"America/Detroit\">America/Detroit GMT-5:00</option>\n  <optionvalue=\"America/Indianapolis\">America/Indianapolis GMT-5:00</option>\n <optionvalue=\"America/Los_Angeles\">America/Los_Angeles GMT-8:00</option>\n  <option value=\"America/Louisville\">America/Louisville GMT-5:00</option>\n<option value=\"America/Mexico_City\">America/Mexico_City GMT-6:00</option>\n  <option value=\"America/New_York\">America/New_York GMT-5:00</option>\n  <option value=\"America/Vancouver\">America/Vancouver GMT-8:00</option>\n  <option value=\"Asia/Baghdad\">Asia/Baghdad GMT+3:00</option>\n  <option value=\"Asia/Bahrain\">Asia/Bahrain GMT+3:00</option>\n  <option value=\"Asia/Baku\">Asia/Baku GMT+4:00</option>\n  <option value=\"Asia/Bangkok\">Asia/Bangkok GMT+7:00</option>\n  <option value=\"Asia/Barnaul\">Asia/Barnaul GMT+7:00</option>\n  <option value=\"Asia/Beirut\">Asia/Beirut GMT+2:00</option>\n  <option value=\"Asia/Bishkek\">Asia/Bishkek GMT+6:00</option>\n  <option value=\"Asia/Brunei\">Asia/Brunei GMT+8:00</option>\n  <option value=\"Asia/Calcutta\">Asia/Calcutta GMT+5:30</option>\n  <option value=\"Asia/Chita\">Asia/Chita GMT+9:00</option>\n  <option value=\"Asia/Choibalsan\">Asia/Choibalsan GMT+8:00</option>\n  <option value=\"Asia/Chongqing\">Asia/Chongqing GMT+8:00</option>\n  <option value=\"Asia/Chungking\">Asia/Chungking GMT+8:00</option>\n  <option value=\"Asia/Colombo\">Asia/Colombo GMT+5:30</option>\n  <option value=\"Asia/Dacca\">Asia/Dacca GMT+6:00</option>\n  <option value=\"Asia/Damascus\">Asia/Damascus GMT+2:00</option>\n  <option value=\"Asia/Dhaka\">Asia/Dhaka GMT+6:00</option>\n  <option value=\"Asia/Dili\">Asia/Dili GMT+9:00</option>\n  <option value=\"Asia/Dubai\">Asia/Dubai GMT+4:00</option>\n  <option value=\"Asia/Dushanbe\">Asia/Dushanbe GMT+5:00</option>\n  <option value=\"Asia/Gaza\">Asia/Gaza GMT+2:00</option>\n  <option value=\"Asia/Harbin\">Asia/Harbin GMT+8:00</option>\n  <option value=\"Asia/Hebron\">Asia/Hebron GMT+2:00</option>\n  <option value=\"Asia/Ho_Chi_Minh\">Asia/Ho_Chi_Minh GMT+7:00</option>\n  <option value=\"Asia/Hong_Kong\">Asia/Hong_Kong GMT+8:00</option>\n  <option value=\"Asia/Hovd\">Asia/Hovd GMT+7:00</option>\n  <option value=\"Asia/Irkutsk\">Asia/Irkutsk GMT+8:00</option>\n  <option value=\"Asia/Seoul\">Asia/Seoul GMT+9:00</option>\n  <option value=\"Asia/Shanghai\">Asia/Shanghai GMT+8:00</option>\n  <option value=\"Asia/Tokyo\">Asia/Tokyo GMT+9:00</option>\n  <option value=\"Australia/Perth\">Australia/Perth GMT+8:00</option>\n  <option value=\"Australia/Queensland\">Australia/Queensland GMT+10:00</option>\n  <option value=\"Australia/South\">Australia/South GMT+9:30</option>\n  <option value=\"Australia/Sydney\">Australia/Sydney GMT+10:00</option>\n  <option value=\"Brazil/East\">Brazil/East GMT-3:00</option>\n<option value=\"Brazil/West\">Brazil/West GMT-4:00</option>\n  <option value=\"Canada/Atlantic\">Canada/Atlantic GMT-4:00</option>\n  <option value=\"Canada/Central\">Canada/Central GMT-6:00</option>\n  <option value=\"Canada/Eastern\">Canada/Eastern GMT-5:00</option>\n  <option value=\"Canada/Mountain\">Canada/Mountain GMT-7:00</option>\n  <option value=\"Canada/Newfoundland\">Canada/Newfoundland GMT-4:30</option>\n  <option value=\"Canada/Pacific\">Canada/Pacific GMT-8:00</option>\n  <option value=\"Canada/Saskatchewan\">Canada/Saskatchewan GMT-6:00</option>\n  <option value=\"Canada/Yukon\">Canada/Yukon GMT-8:00</option>\n <option value=\"Europe/Amsterdam\">Europe/Amsterdam GMT+1:00</option>\n <option value=\"Europe/Brussels\">Europe/Brussels GMT+1:00</option>\n  <option value=\"Europe/Bucharest\">Europe/Bucharest GMT+2:00</option>\n  <option value=\"Europe/Budapest\">Europe/Budapest GMT+1:00</option>\n  <option value=\"Europe/Busingen\">Europe/Busingen GMT+1:00</option>\n  <option value=\"Europe/Chisinau\">Europe/Chisinau GMT+2:00</option>\n  <option value=\"Europe/Copenhagen\">Europe/Copenhagen GMT+1:00</option>\n  <option value=\"Europe/Dublin\">Europe/DublinGMT+0:00</option>\n  <option value=\"Europe/Madrid\">Europe/Madrid GMT+1:00</option>\n  <option value=\"Europe/Moscow\">Europe/Moscow GMT+3:00</option>\n  <option value=\"Europe/Stockholm\">Europe/Stockholm GMT+1:00</option>\n  <option value=\"Europe/Zurich\">Europe/Zurich GMT+1:00</option>\n  <option value=\"GB\">GB GMT+0:00</option>\n</select>\n<script>\nfunction updateTZ(tz) {\nsend({payload:tz});\n}\n</script></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":500,"y":1320,"wires":[["1fc9b375.a45e3d","a4bb0a41.6f4b28"]]},{"id":"a4bb0a41.6f4b28","type":"exec","z":"52d6f93.95a8b08","command":"sudo timedatectl set-timezone ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":810,"y":1380,"wires":[[],[],[]]},{"id":"b3e95c13.73178","type":"debug","z":"cec120ea.86c5b","name":"temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":599,"wires":[]},{"id":"76a500c4.78152","type":"inject","z":"ba25cce3.d9a7","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":90,"y":120,"wires":[["21f119ca.585e26"]]},{"id":"21f119ca.585e26","type":"function","z":"ba25cce3.d9a7","name":"Read locales","func":"var TZ = [\"Africa\",\"Asia\",\"Canada\",\"Indian\",\"US\",\"America\",\"Atlantic\",\"Chile\",\"Mexico\",\"Antarctica\",\"Australia\",\"Pacific\",\"Arctic\",\"Brazil\",\"Europe\"]\n\n/*global.set(\"citySet\",false);\nvar city = global.get(\"city\");\nif (city.length > 0) {\n    global.set(\"citySet\",true);\n}*/\n\nfor(let i=0;i<TZ.length;i++) {\n    node.send({topic: TZ[i], payload: '/usr/share/zoneinfo/' + TZ[i] + '/', init: i === TZ.length-1})\n}\n\n","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["da81c11b.d165a"]]},{"id":"da81c11b.d165a","type":"exec","z":"ba25cce3.d9a7","command":"ls ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":140,"wires":[["c81a9e67.0c5bd","eb0f4df3.3d289"],[],[]]},{"id":"c81a9e67.0c5bd","type":"function","z":"ba25cce3.d9a7","name":"set flow vars","func":"var areas = msg.payload.split('\\n').filter(a => !!a)\n\nflow.set(msg.topic, areas)","outputs":0,"noerr":0,"x":870,"y":100,"wires":[]},{"id":"eb0f4df3.3d289","type":"switch","z":"ba25cce3.d9a7","name":"if init","property":"init","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":160,"wires":[["111e2d96.0e00d2"]]},{"id":"309e8227.e5e17e","type":"ui_dropdown","z":"ba25cce3.d9a7","name":"","label":"Area","tooltip":"","place":"Select area","group":"34ec03bd.96427c","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1084,"y":166,"wires":[["767383f7.7eae9c","4f09cd7b.6a2bd4"]]},{"id":"111e2d96.0e00d2","type":"function","z":"ba25cce3.d9a7","name":"Set options","func":"\nvar msg = {\n    options: flow.keys()\n}\n\nif (global.get(\"areaSet\", \"storeInFile\")) {\n    msg.payload = global.get(\"area\",\"storeInFile\");\n} \nreturn msg;","outputs":1,"noerr":0,"x":918,"y":166,"wires":[["309e8227.e5e17e","29162b74.a34894"]]},{"id":"4263e8c8.844b78","type":"ui_dropdown","z":"ba25cce3.d9a7","name":"","label":"City","tooltip":"","place":"Select city","group":"34ec03bd.96427c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1167,"y":250,"wires":[["6b8a9bdd.2d2a14"]]},{"id":"2dbcb6fe.54f74a","type":"function","z":"ba25cce3.d9a7","name":"Set cities","func":"global.set(\"area\", msg.payload,\"storeInFile\")\nglobal.set(\"areaSet\", true,\"storeInFile\")\nmsg.options = {};\nmsg.options = flow.get(msg.payload)[0]\n\nif (global.get(\"citySet\", \"storeInFile\")) {\n    msg.payload = global.get(\"city\",\"storeInFile\");\n} else {\n    global.set(\"city\", \"\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":1460,"y":160,"wires":[["4263e8c8.844b78","4f09cd7b.6a2bd4"]]},{"id":"e4c2c516.5696c8","type":"inject","z":"ba25cce3.d9a7","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(storeInFile)::area","payloadType":"global","x":930,"y":200,"wires":[["309e8227.e5e17e"]]},{"id":"fa492266.7420f","type":"inject","z":"ba25cce3.d9a7","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(storeInFile)::city","payloadType":"global","x":999,"y":262,"wires":[["4263e8c8.844b78"]]},{"id":"babf5748.aebf28","type":"inject","z":"ba25cce3.d9a7","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":219,"y":207,"wires":[["dda52b3a.c95758"]]},{"id":"dda52b3a.c95758","type":"exec","z":"ba25cce3.d9a7","command":"date","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":373,"y":207,"wires":[["a1ea598e.3e4228"],[],[]]},{"id":"a1ea598e.3e4228","type":"ui_text","z":"ba25cce3.d9a7","group":"34ec03bd.96427c","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":194,"wires":[]},{"id":"a9bdc1ac.3b5c6","type":"ui_button","z":"ba25cce3.d9a7","name":"","group":"34ec03bd.96427c","order":8,"width":0,"height":0,"passthru":false,"label":"UPDATE!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":175,"y":319,"wires":[["fbca3d57.7ae55","e683cf80.6511b"]]},{"id":"5ebe76ae.751698","type":"ui_toast","z":"ba25cce3.d9a7","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"success","x":860,"y":305,"wires":[]},{"id":"168641c3.f4945e","type":"ui_toast","z":"ba25cce3.d9a7","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"error","x":851,"y":346,"wires":[]},{"id":"ed2da14a.3e36d","type":"change","z":"ba25cce3.d9a7","name":"success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Timezone updated successfully","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":711,"y":305,"wires":[["5ebe76ae.751698"]]},{"id":"1f788fca.86acc","type":"change","z":"ba25cce3.d9a7","name":"error","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error while updating timezone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":719,"y":346,"wires":[["168641c3.f4945e"]]},{"id":"4f09cd7b.6a2bd4","type":"debug","z":"ba25cce3.d9a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":80,"wires":[]},{"id":"fbca3d57.7ae55","type":"function","z":"ba25cce3.d9a7","name":"update timezone","func":"var command = '/usr/share/zoneinfo/'+global.get(\"area\")+'/'+global.get(\"city\")+' /etc/localtime'\n\n//var command = +global.get(\"city\")+'/'+global.get(\"city\")+' /etc/localtime'\n\n\nnode.send({payload: command})\n","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["886afc79.ca411"]]},{"id":"886afc79.ca411","type":"exec","z":"ba25cce3.d9a7","command":"sudo ln -sf","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":320,"wires":[["ed2da14a.3e36d"],["1f788fca.86acc"],[]]},{"id":"b01cd187.c835e","type":"exec","z":"ba25cce3.d9a7","command":"sudo timedatectl set-timezone ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":830,"y":400,"wires":[[],["4f09cd7b.6a2bd4"],[]]},{"id":"4d2c8dd4.cc7ae4","type":"function","z":"ba25cce3.d9a7","name":"update timezone","func":"\n//var city = global.get(\"city\");\n//var command = msg.city[0]+'/'+msg.city[1]+' '\nvar command = global.get(\"area\",\"storeInFile\")[0]+'/'+msg.city+' ';\n\nnode.send({payload: command})\n","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["b01cd187.c835e"]]},{"id":"6b8a9bdd.2d2a14","type":"change","z":"ba25cce3.d9a7","name":"","rules":[{"t":"set","p":"#:(storeInFile)::city","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"#:(storeInFile)::citySet","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":260,"wires":[[]]},{"id":"e683cf80.6511b","type":"change","z":"ba25cce3.d9a7","name":"","rules":[{"t":"set","p":"city","pt":"msg","to":"#:(storeInFile)::city","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":400,"wires":[["4d2c8dd4.cc7ae4"]]},{"id":"767383f7.7eae9c","type":"change","z":"ba25cce3.d9a7","name":"","rules":[{"t":"set","p":"#:(storeInFile)::area","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":160,"wires":[["2dbcb6fe.54f74a"]]},{"id":"29162b74.a34894","type":"debug","z":"ba25cce3.d9a7","name":"set area","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":100,"wires":[]},{"id":"fa9a334c.04ceb","type":"inject","z":"cec120ea.86c5b","name":"","repeat":"","crontab":"","once":true,"onceDelay":"60.0","topic":"","payload":"","payloadType":"date","x":150,"y":680,"wires":[["99985c94.8ec24"]]},{"id":"99985c94.8ec24","type":"exec","z":"cec120ea.86c5b","command":"sudo shutdown 00:05 -r","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":680,"wires":[[],[],[]]},{"id":"14ae52f0.436acd","type":"inject","z":"52d6f93.95a8b08","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.10","topic":"","payload":"","payloadType":"date","x":420,"y":39,"wires":[["9f291a24.9f7c68"]]},{"id":"9f291a24.9f7c68","type":"function","z":"52d6f93.95a8b08","name":"Set time_diff","func":"var time_diff = [100,100,100,100];\n\nglobal.set(\"time_diff\",time_diff );\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":40,"wires":[[]]},{"id":"705ffbf8.418db4","type":"debug","z":"52d6f93.95a8b08","name":"AIO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":320,"wires":[]},{"id":"fcf89027.1f141","type":"change","z":"52d6f93.95a8b08","name":"Time msg","rules":[{"t":"move","p":"payload","pt":"msg","to":"time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":260,"wires":[["dc5b95c4.2baaa8"]]},{"id":"95dd2033.5e3df","type":"debug","z":"52d6f93.95a8b08","name":"AIO1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":360,"wires":[]},{"id":"9e1ac3ee.e073d","type":"debug","z":"52d6f93.95a8b08","name":"AIO2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":320,"wires":[]},{"id":"47d3f298.e0550c","type":"debug","z":"52d6f93.95a8b08","name":"AIO3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":320,"wires":[]},{"id":"b62490e0.25762","type":"function","z":"52d6f93.95a8b08","name":"","func":"var numZones = global.get(\"Zones\");\nvar outputMsgs = [];\nvar sensorReadString;\n\n\nvar PARsensorUSB = global.get(\"PARsensorUSB\",\"default\");\nif (!PARsensorUSB) {\n    for (var i=0; i<numZones; i++) {\n        sensorReadString = global.get(\"sensorReadArray[\"+i+\"]\");\n        if (global.get(\"ZoneActiveArray[\"+i+\"]\")) {\n            outputMsgs.push({'payload': sensorReadString, 'sensor': i+1, 'time': msg.time});\n        }\n    \n    }\n\n    return [outputMsgs];\n}","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["640ab52c.9754bc","9e1ac3ee.e073d"]]},{"id":"640ab52c.9754bc","type":"exec","z":"52d6f93.95a8b08","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"rtPPFD","x":1800,"y":260,"wires":[["2a0f13aa.b38a0c","1cc81fd.670c4e"],[],[]]},{"id":"ce7c8638.d718f8","type":"link out","z":"52d6f93.95a8b08","name":"","links":["5405b0e7.3d873"],"x":815,"y":880,"wires":[]},{"id":"f4d8fa79.614148","type":"change","z":"52d6f93.95a8b08","name":"Time msg","rules":[{"t":"move","p":"i2c_out","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3256,"y":280,"wires":[[]]},{"id":"b4edaa8c.bf8c48","type":"debug","z":"52d6f93.95a8b08","name":"NCD","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3671,"y":280,"wires":[]},{"id":"e17eae71.62a81","type":"ui_button","z":"a24593f.c3bdd7","name":"","group":"15e5010f.69a84f","order":8,"width":0,"height":0,"passthru":false,"label":"Shutdown Controller","tooltip":"Shutdown the controller before removing power","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":420,"y":100,"wires":[["46956707.a806c8","5baef4c5.9618bc"]]},{"id":"ed3f0544.0bcb08","type":"inject","z":"a24593f.c3bdd7","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"Shutdown Controller","payload":"true","payloadType":"bool","x":90,"y":100,"wires":[["e17eae71.62a81"]]},{"id":"3dd01aec.1a2ee6","type":"ui_toast","z":"a24593f.c3bdd7","position":"top right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"success","x":1200,"y":80,"wires":[]},{"id":"4061119.c9aa1f","type":"ui_toast","z":"a24593f.c3bdd7","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"error","x":1191,"y":121,"wires":[]},{"id":"5baef4c5.9618bc","type":"change","z":"a24593f.c3bdd7","name":"success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please wait 30 seconds before removing power from the controller.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1051,"y":80,"wires":[["3dd01aec.1a2ee6"]]},{"id":"2afb28eb.7ccab8","type":"change","z":"a24593f.c3bdd7","name":"error","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error while updating timezone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1059,"y":121,"wires":[["4061119.c9aa1f"]]},{"id":"ef19633c.a9f6","type":"exec","z":"a24593f.c3bdd7","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":850,"y":100,"wires":[[],["2afb28eb.7ccab8"],[]]},{"id":"46956707.a806c8","type":"delay","z":"a24593f.c3bdd7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":100,"wires":[["ef19633c.a9f6"]]},{"id":"63d07014.b244c","type":"sunrise","z":"6a6549d2.86dd98","name":"Sunrise & Set for this location","lat":"33.76686091581508","lon":"-84.30806019379438","start":"sunrise","end":"sunsetStart","soff":0,"eoff":0,"x":690,"y":160,"wires":[["5976748b.687dbc","6fe26a81.afeed4"],[]]},{"id":"6fe26a81.afeed4","type":"change","z":"6a6549d2.86dd98","name":"Sunset","rules":[{"t":"set","p":"Sun","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"sunRise","pt":"global","to":"start","tot":"msg"},{"t":"set","p":"sunSet","pt":"global","to":"end","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":120,"wires":[["7e4e05b5.5cefdc"]]},{"id":"7e4e05b5.5cefdc","type":"debug","z":"6a6549d2.86dd98","name":"Sun info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":120,"wires":[]},{"id":"b8af6968.d0c098","type":"comment","z":"6a6549d2.86dd98","name":"Sunrise Global","info":"\"Sunrise & Set for this location\" node is modified from the github source\n\n---\nThis implemented universally for all zones.\nAll zones would track sunrise +- offset\nand/or All zones would track sunset +- offset\n\nA future modification would be to add zone control for this.\n\n","x":400,"y":80,"wires":[]},{"id":"45e687bd.677588","type":"ui_numeric","z":"6a6549d2.86dd98","name":"","label":"Longitude","tooltip":"Enter your location longitude in decimal format","group":"dd8c727e.a07db","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"-180","max":"180","step":".1","x":420,"y":360,"wires":[["2c6f99ca.f18c96"]]},{"id":"542ce9c1.09b2e8","type":"inject","z":"6a6549d2.86dd98","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(storeInFile)::Longitude","payloadType":"global","x":250,"y":360,"wires":[["45e687bd.677588"]]},{"id":"b187e099.07091","type":"ui_numeric","z":"6a6549d2.86dd98","name":"","label":"Latitude","tooltip":"Enter your location latittude in decimal format","group":"dd8c727e.a07db","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"-90","max":"90","step":".1","x":420,"y":400,"wires":[["d7672b3c.14b7d8"]]},{"id":"c1d6dad1.a31238","type":"inject","z":"6a6549d2.86dd98","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"#:(storeInFile)::Latitude","payloadType":"global","x":250,"y":400,"wires":[["b187e099.07091"]]},{"id":"c2ccb3b1.862f6","type":"ui_switch","z":"6a6549d2.86dd98","name":"","label":"Sunrise Tracking Off/On","tooltip":"Enable/Disable using sunrise for the system on time","group":"dd8c727e.a07db","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":460,"wires":[["ea5df016.7b6c6"]]},{"id":"ea5df016.7b6c6","type":"change","z":"6a6549d2.86dd98","name":"Tracking enabled?","rules":[{"t":"set","p":"#:(storeInFile)::SunRiseTrackingEnabled","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[[]]},{"id":"2d61950a.6e398a","type":"inject","z":"6a6549d2.86dd98","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(storeInFile)::SunTrackingEnabled","payloadType":"global","x":270,"y":460,"wires":[["c2ccb3b1.862f6"]]},{"id":"2c6f99ca.f18c96","type":"change","z":"6a6549d2.86dd98","name":"Longitude","rules":[{"t":"set","p":"#:(storeInFile)::Longitude","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":581.6666870117188,"y":359.6666564941406,"wires":[[]]},{"id":"d7672b3c.14b7d8","type":"change","z":"6a6549d2.86dd98","name":"Latitude","rules":[{"t":"set","p":"#:(storeInFile)::Latitude","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[[]]},{"id":"14c86fc2.90721","type":"change","z":"6a6549d2.86dd98","name":"","rules":[{"t":"set","p":"lon","pt":"msg","to":"#:(storeInFile)::Longitude","tot":"global"},{"t":"set","p":"lat","pt":"msg","to":"#:(storeInFile)::Latitude","tot":"global"},{"t":"set","p":"update","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["63d07014.b244c"]]},{"id":"5c103190.d000c","type":"debug","z":"6a6549d2.86dd98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":580,"wires":[]},{"id":"86d38c62.2b11d","type":"ui_button","z":"6a6549d2.86dd98","name":"","group":"dd8c727e.a07db","order":8,"width":0,"height":0,"passthru":false,"label":"UPDATE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":240,"y":200,"wires":[["14c86fc2.90721"]]},{"id":"8c32a075.fcb2d","type":"ui_toast","z":"6a6549d2.86dd98","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"success","x":1260,"y":200,"wires":[]},{"id":"e5ac4d92.58498","type":"inject","z":"6a6549d2.86dd98","name":"","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":230,"y":140,"wires":[["14c86fc2.90721"]]},{"id":"5976748b.687dbc","type":"switch","z":"6a6549d2.86dd98","name":"","property":"update","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":180,"wires":[["ab5a665a.5c6728"]]},{"id":"ab5a665a.5c6728","type":"function","z":"6a6549d2.86dd98","name":"","func":"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":200,"wires":[["8c32a075.fcb2d"]]},{"id":"73f9f849.d14888","type":"inject","z":"eab47669.c37d78","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"init","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"4","topic":"init","payload":"true","payloadType":"bool","x":120,"y":180,"wires":[["8f99b268.38d5b"]]},{"id":"8f99b268.38d5b","type":"exec","z":"eab47669.c37d78","command":"for i in /dev/ttyACM*; do    udevadm info -r -q all \"$i\" | awk -F= '      /DEVNAME/{d=$2}      /ID_VENDOR_ID/{v=$2}      /ID_MODEL_ID/{m=$2}      d&&v&&m{print d,v\":\"m;d=v=m=\"\"}   '; done","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Query PAR sensors","x":309,"y":180,"wires":[["ddeea680.b09528"],[],[]]},{"id":"ddeea680.b09528","type":"change","z":"eab47669.c37d78","name":"USB sensors","rules":[{"t":"move","p":"payload","pt":"msg","to":"usbSensors","tot":"msg"},{"t":"set","p":"manualZones","pt":"msg","to":"#:(storeInFile)::manualZones","tot":"global"},{"t":"set","p":"manualZonesUsed","pt":"msg","to":"#:(storeInFile)::manualZonesUsed","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":549,"y":180,"wires":[["ae39b289.c83d3"]]},{"id":"b500b4f0.5d9cf8","type":"ui_template","z":"eab47669.c37d78","group":"4c635665.c3e348","name":"","order":2,"width":0,"height":0,"format":"<div class=\"example-container\">\n  <div ng-repeat=\"sensor in numSensors\">Sensor {{sensor}}\n  <md-switch ng-model=\"item.active\" ng-disabled=\"item.disabled\" id=\"item.id\" ng-repeat=\"item in zoneUsed\" ng-if=\"sensor==item.sensor\" ng-change=\"handleChange(item)\">\n    Zone{{item.id}}\n  </md-switch>\n  </div> \n\n  <md-button ng-click=\"send({payload:action(),topic:'update'})\">\n    Update\n  </md-button>\n  <div>{{myNum}}</div>\n</div>\n<style>\n.example-container {\n  width: 400px;\n  max-width: 100%;\n  margin: 0 25px 25px 0;\n  display: inline-block;\n  vertical-align: top;\n}\n\n.example-list {\n  border: solid 1px #ccc;\n  min-height: 60px;\n  background: white;\n  border-radius: 4px;\n  overflow: hidden;\n  display: block;\n}\n\n.example-box {\n  padding: 20px 10px;\n  border-bottom: solid 1px #ccc;\n  color: rgba(0, 0, 0, 0.87);\n  display: flex;\n  flex-direction: row;\n  align-items: center;\n  justify-content: space-between;\n  box-sizing: border-box;\n  cursor: move;\n  background: white;\n  font-size: 14px;\n}\n\n.cdk-drag-preview {\n  box-sizing: border-box;\n  border-radius: 4px;\n  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),\n              0 8px 10px 1px rgba(0, 0, 0, 0.14),\n              0 3px 14px 2px rgba(0, 0, 0, 0.12);\n}\n\n.cdk-drag-placeholder {\n  opacity: 0;\n}\n\n.cdk-drag-animating {\n  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);\n}\n\n.example-box:last-child {\n  border: none;\n}\n\n.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {\n  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);\n}\n\n</style>\n<script>\n\n    // Lambda function to access the Angular Scope\n    ;(function(scope) {\n\n        var nZ = 0;        \n        var nS = 0;    \n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            if (scope.msg.topic == \"init\") {\n                scope.numSensors = [];\n                scope.zoneUsed = []\n                scope.zone = [];\n                //nZ = 4;\n                var nZ = scope.msg.payload.numZones;\n                //nS = 1;\n                var nS = scope.msg.payload.numSensors;\n                scope.nZ = nZ;\n                scope.nS = nS;\n                var sensor = 0;\n                var zone = 0;\n                \n                //if (scope.msg.manualZonesUsed.length > 0) {\n            /*if (scope.msg.manualZonesUsed != null & scope.msg.manualZonesUsed != \"test\") {                    \n                    scope.zoneUsed =scope.msg.manualZonesUsed;\n                    \n                                //zoneActiveandUsed.zoneActive = zoneActive;\n       //zoneActiveandUsed.zoneUsed = scope.zoneUsed;\n                } else {\n                    for (i=0;i<nZ*nS;i++) {\n                        sensor = parseInt((i)/nZ)+1;\n                        zone = ((i)%(nZ))\n                        scope.zoneUsed[i] = {sensor: sensor,id: i,active: false, disabled: false };\n                    }\n                    var active = false;\n                    for (j=0;j<nZ;j++){\n                        active = false;\n                        for (i=0;i<nZ*nS;i+=nZ){\n                            active = scope.zoneUsed[i+j].active || active;  \n          }\n                        zoneActive[j] = active;\n                    }\n                }*/\n                for (j=0;j<nS;j++) {      \n                    scope.numSensors[j] = (j+1).toString();\n                }\n                scope.zoneUsed = scope.msg.manualZonesUsed;\n\n          }  else if (scope.msg.topic == \"update\") {\n                \n                //scope.send(scope.msg);\n            }\n            \n})\n\n        scope.action = function() {\n\n            var zoneActiveandUsed = {};\n            var zoneActive = [];\n            var nS = scope.nS;\n           var nZ = scope.nZ;\n            var active = false;\n            for (j=0;j<nZ;j++){\n                active = false;\n                for (i=0;i<nZ*nS;i+=nZ){\n                    active = scope.zoneUsed[i+j].active || active;  \n                }\n                zoneActive[j] = active;\n        }   \n            zoneActiveandUsed.zoneActive = zoneActive;\n            zoneActiveandUsed.zoneUsed = scope.zoneUsed;\n\n            return zoneActiveandUsed;            \n        }\n\n\n        scope.handleChange = function(item)  {\n\n            var index = parseInt(item.id);\n            varactive = item.active;\n            var sensor = item.sensor;\n            var mindex = (index-1)+((sensor-1)*nZ);\n            if (!item.disabled) {\n             //scope.zoneUsed[mindex].active = !active; ng-model takes care of this\n                var iRemainder = mindex%nZ;\n                var newItem;\n                var disabledBol;\n                for (i=0;i<nZ*nS;i++){\n                    if (i%nZ == iRemainder && sensor != scope.zoneUsed[i].sensor) {\n                        disabledBol = scope.zoneUsed[i].disabled;\n                        scope.zoneUsed[i].disabled = !disabledBol;\n               }\n                }\n            }\n        };\n        \n    })(scope)  \n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":961,"y":180,"wires":[["14e2225d.a1d23e"]]},{"id":"ae39b289.c83d3","type":"function","z":"eab47669.c37d78","name":"","func":"var str = msg.usbSensors;\n\nvar count = 0;\nconst reg = /(1916:0031)/g\ncount =  ((str || '').match(reg) || []).length\n\nmsg.payload= {};\nmsg.payload.numSensors = count;\nmsg.payload.numZones = msg.manualZones;\nmsg.payload.manualZonesUsed = msg.manualZonesUsed;\n\nvar zoneUsed = [];\nvar zoneActive = [];\nvar nZ = msg.manualZones;\nvar nS = count;\n\nif (msg.manualZonesUsed === undefined) {\n    for (i=0;i<nZ*nS;i++) {\n        sensor = parseInt((i)/nZ)+1;\n            zone = ((i)%(nZ))\n            zoneUsed[i] = {sensor: sensor,id: i,active: false, disabled: false };\n    }\n    for (j=0;j<nZ;j++){\n        active = false;\n        for (i=0;i<nZ*nS;i+=nZ){\n            active = zoneUsed[i+j].active || active;  \n        }\nzoneActive[j] = active;\n    }\n\n    msg.payload.zoneUsed = zoneUsed;\n    msg.manualZonesUsed = zoneUsed;\n    msg.payload.zoneActive = zoneActive;\n}else {\n    zoneUsed = msg.manualZonesUsed;\n        for (j=0;j<nZ;j++){\n            active = false;\n            for (i=0;i<nZ*nS;i+=nZ){\n    active = zoneUsed[i+j].active || active;  \n            }\n        zoneActive[j] = active;\n    } \n    msg.payload.zoneUsed = zoneUsed;\n    msg.payload.zoneActive = zoneActive;\n}\nreturn msg;","outputs":1,"noerr":0,"x":749,"y":180,"wires":[["b500b4f0.5d9cf8","63183dc8.9a1344"]]},{"id":"ab772aae.8c63f8","type":"debug","z":"eab47669.c37d78","name":"idk","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":175,"wires":[]},{"id":"69008215.a5e09c","type":"ui_numeric","z":"eab47669.c37d78","name":"","label":"Number of Zones","tooltip":"Set the number of zones, limited to the number of voltage outputs","group":"4c635665.c3e348","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"1","max":"4","step":"1","x":450,"y":460,"wires":[["d3c5dcdb.c6897"]]},{"id":"d7082657.6e15e8","type":"inject","z":"eab47669.c37d78","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"#:(storeInFile)::manualZones","payloadType":"global","x":130,"y":460,"wires":[["69008215.a5e09c"]]},{"id":"d3c5dcdb.c6897","type":"change","z":"eab47669.c37d78","name":"manualZones","rules":[{"t":"set","p":"#:(storeInFile)::manualZones","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"#:(storeInFile)::oldNumZones","pt":"global","to":"Zones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[[]]},{"id":"9f2715ae.095bf8","type":"ui_switch","z":"eab47669.c37d78","name":"","label":"Off/On","tooltip":"Assign zones to sensors manually","group":"4c635665.c3e348","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":560,"wires":[["718d959c.3468bc"]]},{"id":"718d959c.3468bc","type":"change","z":"eab47669.c37d78","name":"Manual Zones enabled?","rules":[{"t":"set","p":"#:(storeInFile)::manualZonesEnabled","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":560,"wires":[["7c9832c7.a6f04c"]]},{"id":"bab0e0a8.797ec","type":"inject","z":"eab47669.c37d78","name":"init","props":[{"p":"payload","v":"#:(storeInFile)::manualZonesEnabled","vt":"global"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.6","topic":"","payload":"#:(storeInFile)::manualZonesEnabled","payloadType":"global","x":130,"y":560,"wires":[["5af2046.13d92fc"]]},{"id":"3f8968fd.6c92b8","type":"comment","z":"eab47669.c37d78","name":"","info":"  <div>Filtered array</div>\n<div>{{myNum}}</div>\n<div>Raw array</div>\n<div>{{myNum0}}</div>\n\n  <md-switch ng-model=\"item.active\"  ng-disabled=\"item.disabled\" id=\"item.id\" ng-repeat=\"item in zoneUsed\" ng-if=\"sensor==item.sensor\" ng-click=\"handleChange(item)\">\n","x":923,"y":120,"wires":[]},{"id":"14e2225d.a1d23e","type":"switch","z":"eab47669.c37d78","name":"Init or Update","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"init","vt":"str"},{"t":"eq","v":"update","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1160,"y":180,"wires":[["781607f3.83d728","ab772aae.8c63f8"],["a83673e5.413d6"]],"info":"Routes msg based on global data @ Init or\nAn Update from the user interface"},{"id":"a83673e5.413d6","type":"change","z":"eab47669.c37d78","name":"","rules":[{"t":"set","p":"#:(storeInFile)::manualZonesUsed","pt":"global","to":"payload.zoneUsed","tot":"msg"},{"t":"set","p":"#:(storeInFile)::manualZoneActive","pt":"global","to":"payload.zoneActive","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1309,"y":260,"wires":[["b60c842d.478f18","ab772aae.8c63f8"]]},{"id":"d6c93504.3b8b88","type":"ui_numeric","z":"6a6549d2.86dd98","name":"","label":"Sunrise Offset","tooltip":"Adjust on time +/- the offset in minutes","group":"dd8c727e.a07db","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"-60","max":"60","step":"1","x":440,"y":280,"wires":[["51f6d948.b08bc8"]]},{"id":"1f8a794b.e23747","type":"inject","z":"6a6549d2.86dd98","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(storeInFile)::sunriseOffset","payloadType":"global","x":250,"y":280,"wires":[["d6c93504.3b8b88"]]},{"id":"47d7971d.e1a848","type":"ui_numeric","z":"6a6549d2.86dd98","name":"","label":"Sunset Offset","tooltip":"Adjust off time +/- the offset in minutes","group":"dd8c727e.a07db","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"-60","max":"60","step":"1","x":440,"y":320,"wires":[["ce57285b.359348"]]},{"id":"b22075d5.494ef8","type":"inject","z":"6a6549d2.86dd98","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"#:(storeInFile)::sunsetOffset","payloadType":"global","x":250,"y":320,"wires":[["47d7971d.e1a848"]]},{"id":"51f6d948.b08bc8","type":"change","z":"6a6549d2.86dd98","name":"Sunrise Offset","rules":[{"t":"set","p":"#:(storeInFile)::sunriseOffset","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":647.6666870117188,"y":279.6666564941406,"wires":[[]]},{"id":"ce57285b.359348","type":"change","z":"6a6549d2.86dd98","name":"Sunset Offset","rules":[{"t":"set","p":"#:(storeInFile)::sunsetOffset","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":646,"y":320,"wires":[[]]},{"id":"55d16b28.3eff14","type":"ui_switch","z":"6a6549d2.86dd98","name":"","label":"Sunset Tracking Off/On","tooltip":"Enable/Disable using sunset for the system off time","group":"dd8c727e.a07db","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":520,"wires":[["a5e102d5.3e902"]]},{"id":"a5e102d5.3e902","type":"change","z":"6a6549d2.86dd98","name":"Tracking enabled?","rules":[{"t":"set","p":"#:(storeInFile)::SunSetTrackingEnabled","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[[]]},{"id":"1483d1ca.52fc3e","type":"inject","z":"6a6549d2.86dd98","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(storeInFile)::SunTrackingEnabled","payloadType":"global","x":270,"y":520,"wires":[["55d16b28.3eff14"]]},{"id":"bca276a4.92a758","type":"function","z":"6a6549d2.86dd98","name":"","func":"\nvar sunRise;\nvar sunRiseOffset;\nvar sunSet;\nvar sunSetOffset;\nvar sunRise_sm;\nvar sunSet_sm;\n\nvar now = new Date();\nvar midNight = now.setHours(0, 0, 0, 0);\n\nvar start_ms = new Date(msg.start);\nsunRise_sm = (start_ms - midNight)/1000; // # of seconds from midnight to sunrise;\nsunRise_sm += msg.sunriseOffset*60\n\nvar end_ms = new Date(msg.end);\nsunSet_sm = (end_ms - midNight)/1000; // # of seconds from midnight to sunset;\nsunSet_sm += msg.sunsetOffset*60;\n\nmsg.sunRise_sm = sunRise_sm;\nmsg.sunSet_sm = sunSet_sm;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":600,"wires":[["da9a5af1.254a58"]]},{"id":"9b399b.53cea668","type":"inject","z":"6a6549d2.86dd98","name":"Set Sunrise & Sunset","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":"120","topic":"","payload":"true","payloadType":"bool","x":300,"y":600,"wires":[["e177f723.299738"]]},{"id":"e177f723.299738","type":"change","z":"6a6549d2.86dd98","name":"Sunset","rules":[{"t":"set","p":"start","pt":"msg","to":"sunRise","tot":"global"},{"t":"set","p":"end","pt":"msg","to":"sunSet","tot":"global"},{"t":"set","p":"sunriseOffset","pt":"msg","to":"#:(storeInFile)::sunriseOffset","tot":"global"},{"t":"set","p":"sunsetOffset","pt":"msg","to":"#:(storeInFile)::sunsetOffset","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":600,"wires":[["bca276a4.92a758","5c103190.d000c"]]},{"id":"da9a5af1.254a58","type":"change","z":"6a6549d2.86dd98","name":"Sunset","rules":[{"t":"set","p":"sunRise_sm","pt":"global","to":"sunRise_sm","tot":"msg"},{"t":"set","p":"sunSet_sm","pt":"global","to":"sunSet_sm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":600,"wires":[["5c103190.d000c"]]},{"id":"57f4b81b.27a298","type":"ui_template","z":"cf0f304a.566c3","group":"a3986de3.d80a5","name":"","order":2,"width":0,"height":0,"format":"<div class=\"example-container\">\n  <div ng-repeat=\"z in zoneUsed\">\n   <label title=\"Light level from 0(off) to 10(100%)\">Zone {{z.id}} Light Level:\n    <input ng-model=\"z.value\" type=\"number\" name=\"input\" id=\"z.id\" title=\"Light level from 0(off) to 10(100%)\"  ng-change=\"send({payload:handleChange(z)})\"\n           min=\"0\" max=\"10\" step=\"1\" />\n    </label> \n  </div> \n</div>\n<style>\n.example-container {\n  width: 400px;\n  max-width: 100%;\n  margin: 0 25px 25px 0;\n  display: inline-block;\n  vertical-align: top;\n}\n\n.example-list {\n  border: solid 1px #ccc;\n  min-height: 60px;\n background: white;\n  border-radius: 4px;\n  overflow: hidden;\n  display: block;\n}\n\n.example-box {\n  padding: 20px 10px;\n  border-bottom: solid 1px #ccc;\n  color: rgba(0, 0, 0, 0.87);\n  display: flex;\n  flex-direction: row;\n  align-items: center;\n  justify-content: space-between;\n  box-sizing: border-box;\n  cursor: move;\n  background: white;\n  font-size: 14px;\n}\n\n.cdk-drag-preview {\n  box-sizing: border-box;\n  border-radius: 4px;\n  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),\n              0 8px 10px 1px rgba(0, 0, 0, 0.14),\n              0 3px 14px 2px rgba(0, 0, 0, 0.12);\n}\n\n.cdk-drag-placeholder {\n  opacity: 0;\n}\n\n.cdk-drag-animating {\n  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);\n}\n\n.example-box:last-child {\n  border: none;\n}\n\n.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {\n  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);\n}\n\n</style>\n<script>\n\n    // Lambda function to access the Angular Scope\n    ;(function(scope) {\n\n        //var nZ = 0;        \n   \n        //Have to use $watch so we pick up new, incoming msg's\n        scope.$watch('msg.payload', function(newVal, oldVal) {\n            if (scope.msg.topic == \"init\") {\n                scope.zoneUsed = []\n                //nZ = 4;\n                var nZ = scope.msg.payload.numZones; \n\n            for (i=0;i<nZ;i++) {\n                    zone = i+1;\n                    //scope.zoneUsed[i] = {id: zone.toString()};\nscope.zoneUsed.push({id: zone.toString(), value: 0, dimmerString: scope.msg.payload.dimmerVoltageArray[i]});\n                }  \n                scope.myNum = scope.zoneUsed.length;\n                scope.start = 0;\n            }  else if (scope.msg.topic == \"update\") {\n                \n     //scope.send(scope.msg);\n            }\n            \n        })\n\n        scope.action = function() {\n            //return scope.zoneUsed\n   }\n\n\n        scope.handleChange = function(item)  {\n            \n            var index = parseInt(item.id);\n            var dimString = item.dimmerString+(item.value*10);\n            //var dimString = 'Send';\n            if (item.value != null) {\n                scope.myNum = item\n    return dimString;\n            } else {\n                scope.myNum = 'wait'\n                return \"wait\";\n            }\n\n        };\n \n    })(scope)  \n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":120,"wires":[["9caea2a.11fba6"]]},{"id":"9e9cb002.a46a6","type":"debug","z":"cf0f304a.566c3","name":"idk","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1310,"y":60,"wires":[]},{"id":"c866f9d8.1a0748","type":"ui_switch","z":"cf0f304a.566c3","name":"","label":"Off/On","tooltip":"Enable/Disable manual light level control","group":"a3986de3.d80a5","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":360,"wires":[["87c504a0.6d76d8"]]},{"id":"87c504a0.6d76d8","type":"change","z":"cf0f304a.566c3","name":"Manual Light Control enabled?","rules":[{"t":"set","p":"#:(storeInFile)::manualLightControlEnabled","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[[]]},{"id":"332b3ef9.de9d42","type":"inject","z":"cf0f304a.566c3","name":"init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(storeInFile)::manualLightControlEnabled","payloadType":"global","x":250,"y":360,"wires":[["c866f9d8.1a0748"]]},{"id":"2e6c3935.d64616","type":"comment","z":"cf0f304a.566c3","name":"","info":"  <div ng-repeat=\"z in zoneUsed\">\n   <label>Zone {{z.id}} Voltage Level:\n    <input type=\"number\" name=\"input\" id=\"z.id\" ng-change=\"handleChange(z)\"\n           min=\"0\" max=\"10\" step=\"1\" required>\n    </label> \n  </div> ","x":923,"y":60,"wires":[]},{"id":"9caea2a.11fba6","type":"switch","z":"cf0f304a.566c3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"piTest","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":120,"wires":[["9e9cb002.a46a6","5eee8039.7b1e4"]]},{"id":"708154ae.dea76c","type":"change","z":"cf0f304a.566c3","name":"","rules":[{"t":"set","p":"#:(storeInFile)::manualZonesUsed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":280,"wires":[[]]},{"id":"ab497004.963b4","type":"function","z":"cf0f304a.566c3","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[[]]},{"id":"731836f3.1da258","type":"change","z":"cf0f304a.566c3","name":"","rules":[{"t":"set","p":"analogOutputs","pt":"msg","to":"AIO_modules","tot":"global"},{"t":"set","p":"dimmerVoltageArray","pt":"msg","to":"dimmerVoltageArray","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["d745a55.96aab58"]]},{"id":"5c870097.ac5d8","type":"inject","z":"cf0f304a.566c3","name":"","repeat":"60","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"true","payloadType":"bool","x":408.33331298828125,"y":119.99999237060547,"wires":[["731836f3.1da258"]]},{"id":"d745a55.96aab58","type":"function","z":"cf0f304a.566c3","name":"","func":"\nmsg.topic = \"init\";\nmsg.payload = {};\nmsg.payload.numZones = msg.analogOutputs * 2;\nmsg.payload.dimmerVoltageArray = msg.dimmerVoltageArray;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":120,"wires":[["57f4b81b.27a298"]]},{"id":"5eee8039.7b1e4","type":"exec","z":"cf0f304a.566c3","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Set Analog Output","x":1330,"y":120,"wires":[[],[],[]]},{"id":"30a5c4e1.f0c27c","type":"switch","z":"52d6f93.95a8b08","name":"","property":"zoneOn","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"zoneOn[0]=true","vt":"jsonata"},{"t":"jsonata_exp","v":"zoneOn[1]=true","vt":"jsonata"},{"t":"jsonata_exp","v":"zoneOn[2]=true","vt":"jsonata"},{"t":"jsonata_exp","v":"zoneOn[3]=true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":4,"x":1390,"y":440,"wires":[["6788077a.197db8","d9654d2f.51f52"],["8365347b.8cdd48"],["45209144.567f9"],["1924a7bf.a99eb8"]]},{"id":"29f18d5c.4950a2","type":"switch","z":"52d6f93.95a8b08","name":"Sensor Status OK?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":94,"wires":[["c641a2e2.3c64c","ff2d2189.8267d"]]},{"id":"9eb12710.2c12f8","type":"change","z":"52d6f93.95a8b08","name":"","rules":[{"t":"set","p":"manualZonesUsed","pt":"msg","to":"#:(storeInFile)::manualZonesUsed","tot":"global"},{"t":"set","p":"manualZonesEnabled","pt":"msg","to":"#:(storeInFile)::manualZonesEnabled","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":93,"wires":[["8a03620.44c4ea"]]},{"id":"c641a2e2.3c64c","type":"switch","z":"52d6f93.95a8b08","name":"Manual Zones enabled?","property":"manualZonesEnabled","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1622,"y":94,"wires":[["e3442302.53644","ff2d2189.8267d"],["b71905e0.1c3fe8"]]},{"id":"b71905e0.1c3fe8","type":"change","z":"52d6f93.95a8b08","name":"","rules":[{"t":"set","p":"zoneOn","pt":"msg","to":"manualZonesUsed[sensor=1].active","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":440,"wires":[["30a5c4e1.f0c27c"]]},{"id":"dcddaf5b.2d841","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1710,"y":440,"wires":[["c5d9e59c.fa0138"]]},{"id":"4cdd624e.e71ccc","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1710,"y":480,"wires":[["b8d5d2dc.363ef"]]},{"id":"22da525.58129ae","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1708,"y":520,"wires":[["71406fe3.90d1d"]]},{"id":"d9654d2f.51f52","type":"delay","z":"52d6f93.95a8b08","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1711,"y":401,"wires":[["e3442302.53644"]]},{"id":"6788077a.197db8","type":"debug","z":"52d6f93.95a8b08","name":"check man zone test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1520,"y":580,"wires":[]},{"id":"7c9832c7.a6f04c","type":"switch","z":"eab47669.c37d78","name":"Yes = 1, No = 2","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":560,"wires":[["9d18d9d4.d3c608"],["824b1e73.6aced"]]},{"id":"9d18d9d4.d3c608","type":"change","z":"eab47669.c37d78","name":"Manual Zones On","rules":[{"t":"set","p":"#:(storeInFile)::oldZoneActiveArray","pt":"global","to":"ZoneActiveArray","tot":"global"},{"t":"set","p":"ZoneActiveArray","pt":"global","to":"#:(storeInFile)::manualZoneActive","tot":"global"},{"t":"set","p":"Zones","pt":"global","to":"#:(storeInFile)::manualZones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":542,"wires":[["2684841.c16dd7c"]]},{"id":"824b1e73.6aced","type":"change","z":"eab47669.c37d78","name":"Manual Zones Off","rules":[{"t":"set","p":"ZoneActiveArray","pt":"global","to":"#:(storeInFile)::oldZoneActiveArray","tot":"global"},{"t":"set","p":"Zones","pt":"global","to":"#:(storeInFile)::oldNumZones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":586,"wires":[["2684841.c16dd7c","1cdf578e.aafb48"]]},{"id":"b60c842d.478f18","type":"switch","z":"eab47669.c37d78","name":"Manual enabled? Yes = 1, No = 2","property":"#:(storeInFile)::manualZonesEnabled","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1580,"y":260,"wires":[["e6e7b09b.73043","ab772aae.8c63f8"],["447b2c29.dbe674"]]},{"id":"e6e7b09b.73043","type":"change","z":"eab47669.c37d78","name":"Manual Zones On","rules":[{"t":"set","p":"ZoneActiveArray","pt":"global","to":"#:(storeInFile)::manualZoneActive","tot":"global"},{"t":"set","p":"Zones ","pt":"global","to":"#:(storeInFile)::manualZones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":220,"wires":[[]]},{"id":"447b2c29.dbe674","type":"change","z":"eab47669.c37d78","name":"Manual Zones Off","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":300,"wires":[[]]},{"id":"2684841.c16dd7c","type":"debug","z":"eab47669.c37d78","name":"Check man zone init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":640,"wires":[]},{"id":"80d9c9af.aa2d78","type":"change","z":"eab47669.c37d78","name":"","rules":[{"t":"set","p":"#:(storeInFile)::manualZonesUsed","pt":"global","to":"manualZonesUsed","tot":"msg"},{"t":"set","p":"#:(storeInFile)::manualZoneActive","pt":"global","to":"payload.zoneActive","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":120,"wires":[["2a3a2102.49f18e"]]},{"id":"781607f3.83d728","type":"switch","z":"eab47669.c37d78","name":"","property":"manualZonesUsed","propertyType":"msg","rules":[{"t":"istype","v":"array","vt":"array"}],"checkall":"true","repair":false,"outputs":1,"x":1281,"y":120,"wires":[["80d9c9af.aa2d78"]]},{"id":"63183dc8.9a1344","type":"debug","z":"eab47669.c37d78","name":"init zone list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":80,"wires":[]},{"id":"66c40559.48a7fc","type":"function","z":"eab47669.c37d78","name":"","func":"msg.payload = {};\nmsg.payload.numSensors = 1;\nmsg.payload.numZones = msg.manualZones;\nmsg.payload.manualZonesUsed = msg.manualZonesUsed;\nif (msg.manualZonesUsed === null) {\n    msg.payload.manualZonesUsed = \"null\";\n} else if (msg.manualZonesUsed === undefined) {\n    msg.payload.manualZonesUsed = \"undefined\"\n} else {\n    msg.payload.manualZonesUsed = \"test\";\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":860,"wires":[["eb990273.2c508"]]},{"id":"abc7a203.16ff7","type":"change","z":"eab47669.c37d78","name":"USB sensors","rules":[{"t":"move","p":"payload","pt":"msg","to":"usbSensors","tot":"msg"},{"t":"set","p":"manualZones","pt":"msg","to":"#:(storeInFile)::manualZones","tot":"global"},{"t":"set","p":"manualZonesUsed","pt":"msg","to":"#:(storeInFile)::manualZonesUsed","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":860,"wires":[["66c40559.48a7fc"]]},{"id":"fdf4dc61.f0464","type":"inject","z":"eab47669.c37d78","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":350,"y":860,"wires":[[]]},{"id":"eb990273.2c508","type":"debug","z":"eab47669.c37d78","name":"Empty check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":860,"wires":[]},{"id":"2a3a2102.49f18e","type":"switch","z":"eab47669.c37d78","name":"Manual enabled? Yes = 1, No = 2","property":"#:(storeInFile)::manualZonesEnabled","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1720,"y":120,"wires":[["ab772aae.8c63f8","f83e4e6c.eaf36"],["c2b02782.ee2df8"]]},{"id":"29d2686e.55d438","type":"change","z":"eab47669.c37d78","name":"Manual Zones On","rules":[{"t":"set","p":"ZoneActiveArray","pt":"global","to":"#:(storeInFile)::manualZoneActive","tot":"global"},{"t":"set","p":"Zones ","pt":"global","to":"#:(storeInFile)::manualZones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":80,"wires":[[]]},{"id":"c2b02782.ee2df8","type":"change","z":"eab47669.c37d78","name":"Manual Zones Off","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":160,"wires":[[]]},{"id":"f83e4e6c.eaf36","type":"change","z":"eab47669.c37d78","name":"","rules":[{"t":"set","p":"ZoneActiveArray","pt":"global","to":"#:(storeInFile)::manualZoneActive","tot":"global"},{"t":"set","p":"Zones","pt":"global","to":"#:(storeInFile)::manualZones","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":40,"wires":[[]]},{"id":"828b82fa.4d73b","type":"inject","z":"6a6549d2.86dd98","name":"","repeat":"","crontab":"","once":true,"onceDelay":"120","topic":"","payload":"true","payloadType":"bool","x":350,"y":660,"wires":[["e177f723.299738"]]},{"id":"8365347b.8cdd48","type":"change","z":"52d6f93.95a8b08","name":"","rules":[{"t":"set","p":"sensorMult2","pt":"global","to":"sensorMult1","tot":"global"},{"t":"set","p":"sensorOffset2","pt":"global","to":"sensorOffset1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":440,"wires":[["dcddaf5b.2d841"]]},{"id":"45209144.567f9","type":"change","z":"52d6f93.95a8b08","name":"","rules":[{"t":"set","p":"sensorMult3","pt":"global","to":"sensorMult1","tot":"global"},{"t":"set","p":"sensorOffset3","pt":"global","to":"sensorOffset1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":480,"wires":[["4cdd624e.e71ccc"]]},{"id":"1924a7bf.a99eb8","type":"change","z":"52d6f93.95a8b08","name":"","rules":[{"t":"set","p":"sensorMult3","pt":"global","to":"sensorMult1","tot":"global"},{"t":"set","p":"sensorOffset3","pt":"global","to":"sensorOffset1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":520,"wires":[["22da525.58129ae"]]},{"id":"1cdf578e.aafb48","type":"link out","z":"eab47669.c37d78","name":"Recal USB PAR snesors","links":["c2cceeda.233c5","a9a843eb.af0de"],"x":1215,"y":586,"wires":[]},{"id":"a9a843eb.af0de","type":"link in","z":"52d6f93.95a8b08","name":"","links":["1cdf578e.aafb48"],"x":95,"y":160,"wires":[["3a2177fa.837478"]]},{"id":"f4f24089.09072","type":"comment","z":"52d6f93.95a8b08","name":"PAR Recal link","info":"The link is from manual sensor assignments so that PAR sensors can recalibrate when manual zone assignment isturned of.","x":240,"y":160,"wires":[]},{"id":"ffe6ebe.f078318","type":"ui_ui_control","z":"cf0f304a.566c3","name":"","events":"connect","x":420,"y":180,"wires":[[]]},{"id":"c7d3ea3.41a9618","type":"inject","z":"cec120ea.86c5b","name":"","repeat":"","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"true","payloadType":"bool","x":150,"y":740,"wires":[[]]},{"id":"104091d2.8ee6de","type":"exec","z":"cec120ea.86c5b","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":740,"wires":[[],[],[]]},{"id":"5af2046.13d92fc","type":"switch","z":"eab47669.c37d78","name":"","property":"#:(storeInFile)::manualZonesEnabled","propertyType":"global","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":560,"wires":[["9f2715ae.095bf8"],["90e19f.ed515e6"]]},{"id":"f643a6f7.e76748","type":"comment","z":"eab47669.c37d78","name":"Init Global values check?","info":"This is to init manualZonesEnabled. \n\nand ZoneActiveArray","x":260,"y":520,"wires":[]},{"id":"90e19f.ed515e6","type":"change","z":"eab47669.c37d78","name":"","rules":[{"t":"set","p":"#:(storeInFile)::manualZonesEnabled","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":640,"wires":[["9f2715ae.095bf8"]]},{"id":"f5ac93f2.5ed48","type":"change","z":"cec120ea.86c5b","name":"","rules":[{"t":"set","p":"PARsensorUSB","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[[]]},{"id":"fb705060.10bf7","type":"inject","z":"cec120ea.86c5b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"true","payloadType":"bool","x":80,"y":419,"wires":[["f5ac93f2.5ed48"]]},{"id":"4824dd18.642ee4","type":"exec","z":"cec120ea.86c5b","command":"ps aux | grep '[s]sh -v -nNT'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":300,"wires":[[],[],[]]},{"id":"1ac300cc.5dbd3f","type":"inject","z":"cec120ea.86c5b","name":"sshCheck","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":60.0,"topic":"","payload":"true","payloadType":"bool","x":110,"y":300,"wires":[["4824dd18.642ee4"]]}]
